.contact_wrapper {
  position: relative;
  .banner {
    background: url("/Rectangle 60.png") no-repeat;
    background-size: cover;
    height: 45vw;
    position: relative;
    padding-top: 6.80vw;

    h2 {
      font-weight: 600;
      font-size: 3.67vw;
      line-height: 4.65vw;
      letter-spacing: -0.10vw;
      color: #ffffff;
      text-align: center;
    }
  }

  .form{
    display: flex;
    // margin-top: -30%;
    // padding-bottom: 1vw;
    z-index: 5;
    // position: relative;
    justify-content: center;
    gap: 2.22vw;
    position: absolute;
    width: 100%;
    top: 16.65vw;
  }
}
