.contact_wrapper {
  position: relative;
  .banner {
    // background: url("/Rectangle 60.png") no-repeat;
    background-size: cover;
    height: 45vw;
    position: relative;
    padding-top: 6.80vw;
    @media screen and (max-width: 450px) {
      height: 94.72vw;
    }

    .banner_img{
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      z-index: 0;
      .mobile{
        display: none;
      }
      @media (max-width: 450px){
        .mobile{
          display: flex;
        }
        .desktop{
          display: none;
        }
      }
    }

    h2 {
      font-weight: 600;
      font-size: 3.67vw;
      line-height: 4.65vw;
      letter-spacing: -0.10vw;
      color: #ffffff;
      text-align: center;
      position: relative;
      z-index: 1;
      @media screen and (max-width: 450px) {
        font-size: 6.67vw;
        line-height: 9.16vw;
      }
    }
  }

  .form{
    // display: flex;
    // margin-top: -30%;
    // padding-bottom: 1vw;
    z-index: 5;
    // position: relative;
    // justify-content: center;
    // gap: 2.22vw;
    position: absolute;
    width: max-content;
    left: 0;
    right: 0;
    margin:auto;
    top: 16.65vw;
    @media screen and (max-width: 450px) {
      padding-top: 11.11vw;
    }
  }
}
