.story_container {
  padding: 8.53vw 6.73vw 6.80vw 6.73vw;
  display: flex;
  justify-content: space-around;

  @media screen and (max-width: 450px) {
    margin-top: 51vw;
    flex-direction: column;
    align-items: center;
    padding: 12.7vw 11.3vw 0 11.3vw;
    .extracontent{
      @media (max-width: 450px) {
        display: none;
      }
    }
  }

  .left_section {
    max-width: 37.05vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 3.82vw;
    @media screen and (max-width: 450px) {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      max-width: 76.6vw;
    }

    .image {
      position: relative;
      width: 37.05vw;
      height: 34.35vw;
      z-index: 1;
      @media screen and (max-width: 450px){
        width: 76.6vw;
        height: 70.56vw;
      }

      .bg_orange{
        position: absolute;
        background-color: #E76F51;
        width: 33.86vw;
        height: 25vw;
        bottom: 0;
        left: 2.36vw;
        z-index: -1;
        @media screen and (max-width: 450px){
          width: 76.6vw;
          height: 50.8vw;
          background-color: #FF8811;
          left: 1vw;
        }
      }
    }
    .content{
      display: flex;
      flex-direction: column;
      gap: 2.778vw;
      margin-left: 0.83vw;
      @media (max-width: 450px) {
        align-items: center;
      }
      .line {
        width: 7.5vw;
        height: 0.55vw;
        background: #e76f51;
        @media screen and (max-width: 450px) {
          width: 30vw;
          height: 1.6vw;
          margin-bottom: 11.11vw;
        }
      }
      p {
        font-family: var(--tertiary_font);
        font-style: normal;
        font-weight: 700;
        font-size: 1.66vw;
        line-height: 2.08vw;
        color: #072125;
        margin: 0px 0.83vw;
        @media screen and (max-width: 450px) {
          font-size: 3.89vw;
          line-height: 150%;
          font-weight: 500;
          margin: 6.67vw 0 4.44vw 0;
          text-align: center;
        }
  
        .colored {
          color: #e76f51;
        }
      }
      .content_button{
        display: none;
        background: none;
        color: #FF8811;
        font-size: 4vw;
        font-weight: 400;
        @media (max-width:450px) {
          display: inline;
        }
      }

      
    }
  }

  .right_section {
    max-width: 38.37vw;
    margin-left: 3.81vw;
    @media screen and (max-width: 450px) {
      align-items: center;
      justify-content: center;
      max-width: 76.6vw;
      margin-left: 1.9vw;
    }
    

    p {
      font-family: var(--tertiary_font);
      font-style: normal;
      font-weight: 400;
      font-size: 1.25vw;
      line-height: 150%;
      margin: 2.5vw 0px 2.91vw 0px;
      color: #072125;
      @media screen and (max-width: 450px) {
        font-size: 3.89vw;
        font-weight: 500;
        margin: 6.67vw 0 0 0;
        text-align: center;
      }
      .content_button{
        display: none;
        background: none;
        color: #FF8811;
        font-size: 4vw;
        font-weight: 400;
        @media (max-width:450px) {
          display: inline;
        }
      }
    }
    .image {
      position: relative;
      width: 38.37vw;
      height: 33.86vw;
      @media screen and (max-width: 450px){
        width: 73.6vw;
        height: 64.44vw;
      }
    }

    a {
      font-family: var(--tertiary_font);
      font-style: normal;
      font-weight: 400;
      font-size: 1.25vw;
      line-height: 150%;
      text-decoration-line: underline;
      color: #e76f51;
      @media screen and (max-width: 450px) {
        display: none;
      }
    }
  }

  .desktop_only{
    @media (max-width: 450px) {
      display: none;
    }
  }

  .mobile_only{
    display: none;
    @media (max-width: 450px) {
      display: inline-block;
    }
  }
}
