.chef_container {
  background-color: #000000;
  padding: 2.77vw 0px 2.77vw 0px;
  @media screen and (max-width: 450px){
    padding: 10vw 4.4vw;
  }

  h3 {
    font-family: var(--secondary_font);
    font-size: 2.77vw;
    line-height: 4.3vw;
    line-height: 124%;
    text-align: center;
    letter-spacing: -0.1vw;
    color: #ffffff;
    margin-bottom: 2.22vw;
    @media screen and (max-width: 450px){
      font-size: 5.56vw;
      line-height: 6.67vw;
      margin-bottom: 6.67vw;
    }
  }
}
.item {
  position: relative;
  height: 31.92vw;
  width: 22.48vw !important;
  background-color: #000000;
  border-radius: 0.55vw;
  overflow: hidden;
  @media screen and (max-width: 450px){
    border-radius: 1.12vw;
    width: 51.94vw !important;
    height: 75.83vw;
    // margin-right: 4.44vw;
  }

  .inset {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(0deg, #000000 10.71%, rgba(0, 0, 0, 0) 50%);
    border: 0.13vw solid #353535;
    border-radius: 0.55vw;
  }

  .upper_content {
    position: absolute;
    z-index: 1;
    left: 1.52vw;
    bottom: 1.66vw;
    @media screen and (max-width: 450px){
      bottom: 8vw;
      left: 3vw;
    }

    .name {
      font-family: var(--secondary_font);
      font-weight: 600;
      font-size: 1.38vw;
      line-height: 1.66vw;
      display: flex;
      align-items: center;
      letter-spacing: -0.03vw;
      color: #ffffff;
      margin-bottom: 0.832vw;
      @media screen and (max-width: 450px){
        font-family: var(--moile_livvic);
        font-size: 3.89vw;
        line-height: 3.34vw;
      }
    }

    .rating {
      display: flex;
      @media screen and (max-width: 450px) {
        align-items: center;
        margin-top: 1vw;

      }

      .badge {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.13vw 0.277vw;
        background: #214e34;
        border-radius: 0.277vw;
        color: #ffffff;
        font-family: var(--secondary_font);
        font-style: normal;
        font-weight: 700;
        font-size: 0.83vw;
        line-height: 1.04vw;
        @media screen and (max-width: 450px){
          padding: 0.27vw 0.66vw;
          font-family: var(--mobile_livvic);
          font-size: 2.22vw;
          line-height: 3.33vw;
          gap: 0.2vw;
          border-radius: 0.88vw;
        }

        .star {
          position: relative;
          display: flex;
          width: 0.95vw;
          height: 0.9vw;
          @media screen and (max-width: 450px){
            width: 2.58vw;
            height: 2.6vw;
          }
        }
      }

      .experience {
        font-family: var(--secondary_font);
        font-style: normal;
        font-weight: 600;
        font-size: 0.83vw;
        line-height: 1.66vw;
        display: flex;
        align-items: center;
        color: #ffffff;
        @media screen and (max-width: 450px){
          font-family: var(--mobile_livvic);
          font-size: 3.33vw;
          line-height: 3.34vw;
        }
      }
    }

    .hover_overlay {
      flex-direction: column;
      gap: 0.55vw;
      opacity: 0;
      // display: none;
      height: 0vw;

      transform: translateY(100%);
      margin-top: 1.38vw;
      transition: all 0.5s ease-in-out;

      .specialize_heading {
        // margin-bottom: 0.69vw;
        font-weight: 600;
        font-family: var(--secondary_font);
        font-size: 0.97vw;
        line-height: 1.66vw;
        /* identical to box height, or 171% */

        display: flex;
        align-items: center;
        letter-spacing: -0.03vw;

        color: #ffffff;
      }
      .pills_container{
        display: flex;
        gap: 0.55vw;
        flex-wrap: wrap;
        
        .pills {
          font-size: 0.97vw;
          line-height: 1.66vw;
          font-family: var(--secondary_font);
          display: inline-flex;
          background-color: #ff961f;
          color: #ffffff;
          border-radius: 2.63vw;
          padding: 0.27vw 0.55vw;
        }
      }
    }
    .overlay{
      .specialize_heading {
        // margin-bottom: 0.69vw;
        font-weight: 600;
        font-family: var(--secondary_font);
        font-size: 0.97vw;
        line-height: 1.66vw;
        /* identical to box height, or 171% */
        display: flex;
        align-items: center;
        letter-spacing: -0.03vw;

        color: #ffffff;
        @media screen and (max-width: 450px){
          font-family: var(--mobile_livvic);
          font-size: 2.78vw;
          line-height: 3.33vw;
          margin: 2.22vw 0;
        }
      }
      .pills_container{
        display: flex;
        gap: 0.55vw;
        flex-wrap: wrap;
        @media screen and (max-width: 450px){
          gap: 2.22vw;
        }
        .pills {
          font-size: 0.97vw;
          line-height: 1.66vw;
          font-family: var(--secondary_font);
          display: inline-flex;
          background-color: #ff961f;
          color: #ffffff;
          border-radius: 2.63vw;
          padding: 0.27vw 0.55vw;
          @media screen and (max-width: 450px){  
            font-size: 2.78vw;
            line-height: 3.33vw;
            padding: 1.11vw;
          }
        }
      }
    }
  }
  &:hover .hover_overlay{
    height: 6.66vw !important;
    display: flex;
    opacity: 1 !important;
    transform: translateY(0%);
    transition: all 0.5s ease-in-out;
  }
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}


@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);

  }
}
