.chef_container {
  background-color: #000000;
  padding: 2.77vw 0px 2.77vw 0px;

  h3 {
    font-family: var(--secondary_font);
    font-size: 2.77vw;
    line-height: 4.3vw;
    line-height: 124%;
    text-align: center;
    letter-spacing: -0.1vw;
    color: #ffffff;
    margin-bottom: 2.22vw;
  }
}
.item {
  position: relative;
  background-color: white;
  height: 31.92vw;
  width: 22.48vw;
  background-color: #000000;
  border-radius: 0.55vw;
  overflow: hidden;

  .inset {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(0deg, #000000 10.71%, rgba(0, 0, 0, 0) 50%);
    border: 0.13vw solid #353535;
    border-radius: 0.55vw;
  }

  .upper_content {
    position: absolute;
    z-index: 1;
    left: 1.52vw;
    bottom: 1.66vw;

    .name {
      font-family: var(--secondary_font);
      font-weight: 600;
      font-size: 1.38vw;
      line-height: 1.66vw;
      display: flex;
      align-items: center;
      letter-spacing: -0.03vw;
      color: #ffffff;
      margin-bottom: 0.832vw;
    }

    .rating {
      display: flex;

      .badge {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.13vw 0.277vw;
        background: #214e34;
        border-radius: 0.277vw;
        color: #ffffff;
        font-family: var(--secondary_font);
        font-style: normal;
        font-weight: 700;
        font-size: 0.83vw;
        line-height: 1.04vw;

        .star {
          position: relative;
          display: flex;
          width: 0.97vw;
          height: 0.9vw;
        }
      }

      .experience {
        font-family: var(--secondary_font);
        font-style: normal;
        font-weight: 600;
        font-size: 0.83vw;
        line-height: 1.66vw;
        display: flex;
        align-items: center;
        color: #ffffff;
      }
    }

    .hover_overlay {
      flex-direction: column;
      gap: 0.55vw;
      opacity: 0;
      display: none;
      transform: translateY(100%);
      margin-top: 1.38vw;
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

      .specialize_heading {
        // margin-bottom: 0.69vw;
        font-weight: 600;
        font-family: var(--secondary_font);
        font-size: 0.97vw;
        line-height: 1.66vw;
        /* identical to box height, or 171% */

        display: flex;
        align-items: center;
        letter-spacing: -0.03vw;

        color: #ffffff;
      }
      .pills_container{
        display: flex;
        gap: 0.55vw;
        flex-wrap: wrap;
        .pills {
          font-size: 0.97vw;
          line-height: 1.66vw;
          font-family: var(--secondary_font);
          display: inline-flex;
          background-color: #ff961f;
          color: #ffffff;
          border-radius: 2.63vw;
          padding: 0.27vw 0.55vw;
        }
      }
    }
  }
}

.item:hover .item:hover .hover_overlay {
  display: flex;
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
