.feedback_container{
    display: flex;
    flex-direction: row;
    width: 1272px;
    
    .left_section {
        p {
          font-weight: 400;
          font-size: 40px;
          line-height: 48px;
      
          color: #4a4a4a;
        }
      }

      .right_section{
        padding: 20px 0px;
        position: relative;
        .video{
            position: relative;
            width: 560px;
            height: 405px;
        }
      }
}

