.food_display_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.19vw;

  .food_heading {
    color: #585858;
    font-size: 2.77vw;
    line-height: 3.33vw;
    letter-spacing: -0.5%;
    font-weight: 700;
    padding-bottom: 2.56vw;

    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      // overflow: hidden;
    }

    .slider {
      position: absolute;
      color: red;
      animation: slider 6s linear infinite;
    }

    // @keyframes slider {
    //   0% {
    //     margin-top: 0px;
    //   }
    //   30% {
    //     margin-top: 20px;
    //   }
    //   35% {
    //     margin-top: 40px;
    //   }
    //   65% {
    //     margin-top: 60px;
    //   }
    //   70% {
    //     margin-top: 80px;
    //   }
    //   100% {
    //     margin-top: 0px;
    //   }
    // }
  }

  .carousel_wrapper {
    background: url(../../../public/food-plate.png) no-repeat;
    background-size: 58.68vw 47.22vw;
    height: 47.22vw;
    background-position: center;
    width: 100%;
    border-bottom-left-radius: 50% 15%;
    border-bottom-right-radius: 50% 15%;

    .items {
      position: relative;
      height: 25vw;
      width: 25vw;
    }
  }
  .item {
    // border: 5px solid blue;
  }

  [class*="active"] {
    opacity: 1 !important;
    padding: 0;
    padding-top: 4vw;
    // border: 5px solid #ccc;
    max-width: 34.7vw;

    .items {
      // border: 5px solid green;
      left: 22%;

      height: 34.7vw;
      width: 34.7vw;
    }

    // padding-left: -10vw;
  }
}

.item {
  display: flex;
  // width: 20%;
  align-content: flex-end;
  justify-content: center;
  opacity: 0.5;
  padding-top: 20vw;
  // padding-right: 100px;
  padding-left: 17vw;
  // padding-left: 3vw;
  // max-width: 34.5vw;
  // width: 20px;
  // border: 5px solid red;
}

.swiper {
  height: 8vw;
  // width: auto;
  // max-width: fit-content;
  font-size: 4vw;
  // background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper:nth-child(1) {
  color: #ff8811;
}

.slide {
  height: 3.33vw;
  width: auto;
  // color: yellow;
}
