.tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding-top: 2vw;
  padding-bottom: 1vw;
  gap: 5.3vw;
  
  @media screen and (max-width: 450px){
    grid-template-columns: 1fr;
    padding-top: 12.6vw;
  }

  .tab_img {
    position: relative;
    width: 42.5vw;
    height: 39.5vw;
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    @media screen and (max-width: 450px){
      width: 91.11vw;
      height: 85vw;
      border-radius: 8.89vw;
    }
  }

  .tab_text {
    width: 38.7vw;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    @media screen and (max-width: 450px){
      width: 91.1vw;
      text-align: center;
    }
    h3 {
      font-weight: 700;
      font-size: 2.77vw;
      line-height: 3.33vw;
      letter-spacing: -1px;
      color: #808080;
      width: 37.6vw;
      @media screen and (max-width: 450px){
        font-size: 6.11vw;
        line-height: 120%;
        width: 91.1vw;
        color: #484848;
      }
    }

    p {
      font-weight: 300;
      font-size: 1.66vw;
      line-height: 2.22vw;
      padding-top: 2.22vw;
      @media screen and (max-width: 450px){
        padding-top: 3.89vw;
        font-size: 3.56vw;
        line-height: 120%;
        letter-spacing: -0.005em;
        padding-bottom: 3vw;
      }
    }
  }
}

// @keyframes slide-in-left {
//   0% {
//     -webkit-transform: translateX(-100px);
//             transform: translateX(-100px);
//     opacity: 0;
//   }
//   100% {
//     -webkit-transform: translateX(0);
//             transform: translateX(0);
//     opacity: 1;
//   }
// }
// @keyframes slide-in-right {
//   0% {
//     -webkit-transform: translateX(100px);
//             transform: translateX(100px);
//     opacity: 0;
//   }
//   100% {
//     -webkit-transform: translateX(0);
//             transform: translateX(0);
//     opacity: 1;
//   }
// }
