.blogs_wrapper {
  // padding: 0 4.44vw 0 0;
  @media screen and (max-width: 450px) {
    margin: 12.7vw 0;
  }
  .header {
    padding: 3vw 0;

    text-align: center;
    @media screen and (max-width: 450px) {
      padding: 0 4.44vw !important;
    }

    p {
      font-weight: 700;
      font-size: 1.66vw;
      line-height: 3.33vw;
      color: #858585;
      @media screen and (max-width: 450px) {
        font-size: 4.4vw !important;
        line-height: 120% !important;
        margin-bottom: 1.11vw;
      }
    }

    h3 {
      color: #242424;
      font-weight: 700;
      font-size: 2.77vw;
      line-height: 4.44vw;
      @media screen and (max-width: 450px) {
        font-family: var(--mobile_livvic);
        font-size: 6.37vw !important;
        line-height: 8.34vw !important;
        margin-bottom: 6.67vw;
        letter-spacing: -1px;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    padding: 3vw 0;
    button {
      font-weight: 700;
      font-size: 1.25vw;
      line-height: 1.66vw;
      font-family: var(--secondary_font);
      color: white;
      background-color: #18181b;
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 1vw 1.5vw;
    }
  }

  .carousel_wrapper{
    padding-left: 6.94vw;

    @media (max-width: 450px) {
      padding-left: 4.44vw;
    }
  }
}

@media screen and (max-width: 600px) {
  .blogs_wrapper {
    .header {
      padding: 4vw 0;

      p {
        font-size: 2.66vw;
        line-height: 3.18vw;
      }

      h3 {
        font-size: 4vw;
        line-height: 5vw;
        white-space: pre-line;
      }
    }

    .footer {
      padding: 4vw;
      padding-top: 6.67vw;
      button {
        font-size: 2.66vw;
        line-height: 4vw;
        padding: 1.8vw 4.5vw;
        @media screen and (max-width: 450px){
          font-family: var(--mobile_livvic);
          padding:2.78vw 7vw ;
          font-size: 3.89vw;
          border-radius: 2.22vw;
          line-height: 6.67vw;
        }
      }
    }
  }
}
