.review_section {
  background: #eeeff2;
  padding: 4.72vw 6.0px 4.62vw 0px;
  @media screen and (max-width: 450px) {
    padding: 6.67vw 4.44vw 10vw 4.44vw;
  }

  h3 {
    font-family: var(--secondary_font);
    font-style: normal;
    font-weight: 700;
    font-size: 2.91vw;
    line-height: 3.33vw;
    text-align: center;
    color: #18181b;
    @media screen and (max-width: 450px) {
      font-family: var(--mobile_font);
      font-size: 5.56vw;
      line-height: 6.67vw;
    }
  }

  .video_review {
    background-color: #ffffff;
    margin: 3.74vw 6.17vw 2.88vw 6.24vw;
    @media screen and (max-width: 450px) {
      background-color: inherit;
      margin: 9vw 0 0 0;
    }
  }
  .cards_review{
    padding: 3.75vw 11vw 7vw 11vw;

    @media (max-width: 450px) {
      padding: 0;
    }
  }
}
