.banner_container {
  padding: 5.34vw 4.44vw 3.26vw 4.30vw;



  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5.41vw 0px 3.12vw 0px;
    position: relative;

    .banner_img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;
    }

    p {
      font-weight: 600;
      font-size: 3.60vw;
      line-height: 4.30vw;
      letter-spacing: -0.138vw;
      width: 60.5vw;
      height: 13vw;
      color: #ffffff;
    }
  }
}
