.blog_wrapper {
  padding-top: 1.94vw;
  padding-bottom: 4vw;

  @media (max-width: 450px) {
    padding: 12.2vw 0 8.34vw 5.56vw;
  }
  h2 {
    font-size: 2.77vw;
    padding-left: 6.38vw;

    @media (max-width: 450px) {
      font-size: 5.56vw;
      line-height: 7.50vw;
      text-align: center;
    }
  }
  .cards_wrapper {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    gap: 1.59vw;
    padding: 2.56vw 5.5vw 0vw 5.55vw;

    @media (max-width: 450px) {
      display: none;
      padding: 4.44vw 0 0 0 ;
    }
  }

  .carousel{
    display: none;
    // padding: 4.44vw 0 4.44vw 0 ;
    gap: 0.98vw;

    [class*="track"] {
    gap: 3.33vw;
  }


    @media (max-width: 450px) {
      display: flex;
    }

  }

}

.slick-list{
  overflow: inherit !important;
}
