.blog_wrapper {
  padding-top: 1.94vw;
  padding-bottom: 4vw;
  h2 {
    font-size: 2.77vw;
    padding-left: 6.38vw;
  }
  .cards_wrapper {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    gap: 1.59vw;
    padding: 2.56vw 5.5vw 0vw 5.55vw;
  }
}
