.investorcarousel_wrapper {
  background-color: #f8f8f8;
  padding-bottom: 2.91vw;
  padding-top: 5vw;

  @media (max-width: 450px) {
    background-color: #fff;
    padding: 0 0 12.5vw 0;
  }

  .card {
    display: grid;
    grid-template-columns: 2fr 1fr;

    @media (max-width: 450px) {
      grid-template-columns: 1fr;
      place-items: center;
      
    }
    .investor_about {
      padding-left: 4.79vw;
      padding-bottom: 6.34vw;

      .heading {

        @media (max-width: 450px) {
          padding: 0 4.44vw 4.44vw 4.44vw ;
          
        }
        h2 {
          font-size: 2.77vw;
          font-family: var(--tertiary_font);
          line-height: 3.5vw;
          font-weight: 700;

          @media (max-width: 450px) {
            text-align: center;
            font-size: 5.56vw;
            line-height: 7.5vw;
            letter-spacing: -0.01em;
          }
        }
      }

      .desc,
      .investor_name > h5 {
        font-family: var(--open_sans);

        line-height: 1.89vw;
        letter-spacing: -1%;
        color: #686868;
        padding-top: 2.98vw;
      }

      .desc {
        font-size: 1.38vw;
        width: 60%;

        @media (max-width: 450px) {
          letter-spacing: -1%;
          padding: 0 4.44vw;
          font-size: 3.89vw;
          line-height: 150%;
          text-align: center;
          width: 90vw;
          max-height: 11.67vw;
          overflow: hidden;          
        }

        .overflow_text{
        @media (max-width: 450px) {
          display: none;

        }
      }

      .read_more{
      display: none;
      font-size: 3.88vw;
      font-weight: 700;
      line-height: 5.83vw;
      letter-spacing: -0.27vw;
      cursor: pointer;

      @media (max-width: 450px) {
        display: inline;
      }
    }
      }

      .investor_name {
        color: #686868;
        padding-top: 2.98vw;
        padding-bottom: 3.54vw;

        @media (max-width: 450px) {
          display: none;
        }
        h5 {
          font-size: 1.66vw;
        }
        p {
          font-size: 1.11vw;
          letter-spacing: -1%;

          line-height: 1.51vw;
          padding-top: 0.27vw;
        }
      }

      .logo_container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2.91vw;

        @media (max-width: 450px) {
          padding-top: 11.67vw;
          padding-bottom: 10vw;
        }


        .logo {
          position: relative;

          width: 4.45vw;
          height: 1.49vw;

          @media (max-width: 450px) {
            width: 17.34vw;
            height: 3.89vw;
            // aspect-ratio: 3/2;
            object-fit: contain;
          }

          img{
            object-fit: contain;

          }
        }
      }
    }

    .investor_img {
      position: relative;
      width: 26.94vw;
      height: 24.44vw;

      @media (max-width: 450px) {
      display: flex;
      align-self: center;
        width: 70.61vw;
        height: 64vw;
      }
    }

    .investor_name_mobile_only{
      display: none;
      padding-top: 4.44vw;

      h5{
        font-size: 4.44vw;
        line-height: 6.11vw;
        letter-spacing: -0.01em;
        text-align: center;
      }

      p{
        font-size: 4.44vw;
        line-height: 5.28vw;
        text-align: center;
        letter-spacing: -0.01em;

      }

      @media (max-width: 450px) {
        display: flex;
        flex-direction: column;
        gap: 2.22vw;

      }
    }
  }

  [class*="dot"] {
    // position: inherit;
    gap: 10px;

    @media (max-width: 450px) {
      display: none;
    }
  }
}

//----custom button

.button_group {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 2.36vw;

  @media (max-width: 450px) {
    display: none;
  }

  button {
    background-color: transparent;

    position: relative;
  }

  .prev {
    width: 3.88vw;
    height: 3.88vw;
  }

  .next {
    width: 3.88vw;
    height: 4.72vw;
  }
}

//custom dots

.active,
.inactive {
  p {
    height: 11px;
    width: 11px;
    border-radius: 50%;
  }
}

.active {
  background-color: #ff8811;
}

.inactive {
  background-color: #d9d9d9;
}
