.hero_wrapper {
  position: relative;
  width: 100vw;
  height: 34.375vw;
  .mobile{
    display: none;
  }
  @media (max-width: 450px){
    .mobile{
      display: flex;
    }
    .desktop{
      display: none;
    }
  }
  img{

    @media (max-width: 450px) {
      object-fit: cover;
      
    }
  }

    @media (max-width: 450px) {
    width: 100vw;
    height: 83.4vw;
  }

  .hero_heading {
    position: absolute;
    left: 6%;
    top: 53%;

    @media (max-width: 450px) {
      bottom: 25.85vw;
      left: 5vw;
      top: auto;
    }

    h3 {
      font-size: 2.5vw;
      font-weight: 700;
      line-height: 3.4vw;
      color: white;
      white-space: pre-line;
      font-family: var(--secondary_font);
      width: 40.6vw;

      @media (max-width: 450px) {
        width: 86.18vw;
        font-size: 5.56vw;
        line-height: 7.5vw;
      }
      
      .colored {
        color: #ff8811;
        font-family: var(--open_sans);
        line-height: 3.1375vw;
      }
    }
  }
}
