.mission_container {
  background: #ececec;
  display: flex;
  padding: 5.62vw 6.1vw 3.6vw 6.1vw;
  gap: 0.9vw;

  @media (max-width: 450px) {
    flex-direction: column;
    padding: 6.67vw 4.44vw;
    gap: 10vw;
  }

  .left_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1.52vw;

    @media (max-width: 450px) {
      gap: 2.22vw;
      align-items: center;
    }

    p {
      font-family: var(--secondary_font);
      font-style: normal;
      font-weight: 400;
      font-size: 1.66vw;
      line-height: 2.22vw;
      letter-spacing: -0.01em;

      color: #000000;

      @media (max-width: 450px) {
        font-size: 3.33vw;
        line-height: 8.89vw;
      }
    }

    h2 {
      font-family: var(--open_sans);
      font-style: normal;
      font-weight: 700;
      font-size: 2.77vw;
      line-height: 3.74vw;
      letter-spacing: -0.01em;

      color: #222222;
      @media (max-width: 450px) {
        text-align: center;
        font-size: 5.56vw;
        line-height: 6.67vw;
      }

      .colored{
        color: #2D4739;
      }
    }

    a {
      font-family: var(--secondary_font);
      font-style: normal;
      font-weight: 400;
      font-size: 1.38vw;
      line-height: 150%;
      text-decoration-line: underline;
      margin-top: 2vw;
      color: #2d4739;

      @media (max-width: 450px) {
        display: none;
      }
    }
  }
  .right_content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile_only_link{
    display: none;
    font-size: 3.9vw;
    line-height: 150%;
    align-self: center;
    text-decoration-line: underline;
    color: #2d4739;
    font-family: var(--secondary_font);
    font-style: normal;
    font-weight: 400;


    @media (max-width: 450px) {
      display: flex;
    }
  }
}
