.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #214e34;
  @media screen and (max-width: 450px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .text_content {
    color: white;
    place-self: center;
    justify-content: center;
    @media screen and (max-width: 450px) {
      text-align: center;
      padding: 13.89vw 4.44vw;
      button{
        display: none;
      }
    }
    h2,
    button {
      font-family: var(--secondary_font);
      font-weight: 700;
    }
    h2 {
      font-size: 2.5vw;
      line-height: 3vw;
      padding-bottom: 5.4vw;
      width: 39vw;
      @media screen and (max-width: 450px) {
        font-size: 5.56vw;
        line-height: 120%;
        width: 91.11vw;
        padding-bottom: 0;
      }

      .colored {
        color: #ff8811;
      }
    }

    button {
      font-size: 1.25vw;
      line-height: 1.66vw;
      padding: 1vw 2vw;
      transition: all 0.5s ease-out;

      &:hover{
        background-color: #ffffff;
      color: #000;

        transition: all 0.5s ease-out;
      }
    }
  }
  .img {
    position: relative;
    height: 40.625vw;
    width: 50vw;
    @media screen and (max-width: 450px) {
      width: 100%;
      height: 80.56vw;
    }
  }
}
