.project_feature_container {
  padding: 6.94vw 6.45vw 2.43vw 6.38vw;

  .sub_heading {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 1.25vw;
    line-height: 1.6vw;
    color: #2c2c2c;
  }

  .heading {
    font-weight: 700;
    font-size: 2.77vw;
    line-height: 3.33vw;
    color: #000000;
  }

  .table {
    width: 100%;

    th {
      padding: 2.45vw 0px 0.97vw 0px;
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 1.25vw;
      line-height: 1.59vw;
      color: #2c2c2c;
    }

    th:first-child {
      text-align: left;
    }

    td {
      padding: 0.83vw 1.94vw;
    }


    .popular {
      max-width: 18.87vw;
    }
    .premium {
      max-width: 18.87vw;
      background-color: #eeeeee;
      color: #343434;
      border-radius: 0.55vw 0.55vw 0px 0px;
    }
    .feature_name {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 1.11vw;
      line-height: 150%;
      color: #2c2c2c;
    }

    .checked {
      position: relative;
      width: 1.24vw;
      aspect-ratio: 1/1;
      margin: auto;
    }

    .get_started_popular {
      min-width: 11.86vw;
        margin: 0px auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0.69vw 1.11vw;
      gap: 0.69vw;
      background: #ffffff;
      /* Border */

      border: 0.069vw solid rgba(32, 72, 79, 0.1);
      border-radius: 0.55vw;

      font-weight: 700;
      font-size: 0.97vw;
      line-height: 150%;
      color: #2c2c2c;
    }

    .premium_btn{
        padding: 2.63vw 0px 2.08vw 0px;
        display: flex;
        justify-content: center;
        background-color: #eeeeee;
        border-radius: 0px 0px 0.55vw 0.55vw;

        .get_started_premium {
          min-width: 11.86vw;
            margin: 0px auto;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0.69vw 1.21vw;
          gap: 0.69vw;
          background: #ff961f;
          border-radius: 0.55vw;
          font-weight: 700;
          font-size: 0.97vw;
          line-height: 150%;
          color: #ffffff;
        }
    }

    
  }
}
