.blogcarousel_wrapper {
  @media screen and (max-width: 450px) {
    padding-left: 0 !important;
  }
  .items {
    position: relative;
    background-color: white;
    height: 28vw;
    width: 31vw;
    border-radius: 12px;
    @media screen and (max-width: 450px) {
      width: 71.67vw ;
      height: 66.67vw;
      border-radius: 2.22vw;
      margin-right: 3.33vw;
    }

    img {
      border-radius: 12px;
      @media screen and (max-width: 450px) {
        object-fit: cover;
        border-radius: 2.22vw;
      }
      
    }

    .item_overlay {
      position: absolute;
      background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
      z-index: 3;
      border-radius: 12px;
      width: 100%;
      height: 100%;
      @media (max-width: 450px) {
        border-radius: 2.22vw;
      }

      .item_content {
        position: absolute;
        top: 50%;
        padding-left: 2.22vw;
        @media screen and (max-width: 450px) {
          padding-left: 4.44vw;
          top: 60%;
        }

        .item_label {
          display: flex;
          align-items: center;
          gap: 4px;

          button,
          p {
            font-weight: 700;
            font-size: 0.76vw;
            line-height: 0.90vw;
            color: white;
            @media screen and (max-width: 450px) {
              font-size: 2.56vw;
              line-height: 120%;
            }
          }

          span {
            background-color: #d9d9d9;
            height: 4px;
            width: 4px;
            border-radius: 50%;
            @media screen and (max-width: 450px) {
              font-size: 5vw;
              line-height: 120%;
            }
          }

          button {
            padding: 5px 8px;
            @media screen and (max-width: 450px) {
              padding: 3.1px 4.5px;
            }
          }
        }

        .item_heading {
          padding-top: 1.66vw;
          h2 {
            font-size: 2.29vw;
            line-height: 2.75vw;
            font-weight: 800;
            color: white;
            white-space: pre-line;
            width: 23vw;
            @media screen and (max-width: 450px) {
              width: 62.78vw;
              font-size: 5vw;
              line-height: 120%;
            }
          }
        }
      }
    }
  }

  [class*="dot"] {
    position: inherit;
    gap: 7.23px;
    padding-top: 4vw;
  }
  // [class*="arrow"] {
  //   background-color: gray;
  // }
}

.button_group {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 2.36vw;

  button {
    background-color: transparent;
    position: relative;
  }

  .prev {
    width: 3.88vw;
    height: 3.88vw;
  }

  .next {
    width: 3.88vw;
    height: 4.72vw;
  }
}

.active,
.inactive {
  p {
    height: 8.26px;
    width: 8.26px;
    border-radius: 50%;
  }
}

.active {
  background-color: #666666;
}

.inactive {
  background-color: #d9d9d9;
}

.carousel {
  padding-left: 4vw;
}

.item {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .items {
    height: 240px;
    width: 50vw;

    border-radius: 8px;
  }
}

@media screen and (max-width: 600px) {
  .items {
    height: 240px;
    width: 65vw;

    border-radius: 8px;

    .item_overlay {
      .item_content {
        .item_heading {
          h3 {
            font-size: 18px;
            line-height: 21px;
          }
        }
      }
    }
  }
}
