.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg1);
  color: white;
  height: 6.6vw;
  padding: 0vw 6.5vw;

  .nav_left {
    position: relative;
    height: 4vw;
    width: 13.5vw;
    color: black;
  }

  .nav_center {
    ul {
      display: flex;
      gap: 2vw;

      li{
        list-style: none;
        font-weight: 500;
        font-size: 1.25vw;
        line-height: 1.53vw;
        letter-spacing: -0.01em;

      }
    }
  }

  .nav_right {
    display: flex;
    align-items: center;
    gap: 1vw;
    div {
      position: relative;
      height: 4vw;
      width: 4vw;
      cursor: pointer;
    }

    button {
      text-transform: uppercase;
      font-weight: 800;
      padding: 0.8vw 1.4vw;
      font-size: 1.1vw;
      line-height: 1.4vw;
      letter-spacing: 0.005em;
    }
  }
}
.show{
  position: fixed;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: black;
  width: 100%;
  z-index: 100;
  top:-15%;
}
