.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg1);
  color: white;
  height: 6.6vw;
  padding: 0vw 6.5vw;
  @media screen and (max-width:450px) {
    height: 15.56vw;
    padding: 0vw 4.3vw;
  }

  .nav_left {
    position: relative;
    height: 4vw;
    width: 13.5vw;
    color: black;
    @media screen and (max-width: 450px) {
      height: 8.33vw;
      width: 27.5vw;
    }
  }

  .nav_center {
    ul {
      display: flex;
      gap: 2vw;
      list-style: none;
      font-weight: 500;
      font-size: 1.25vw;
      line-height: 1.5vw;
      @media screen and (max-width: 450px) {
        display: none;
      }
    }
  }

  .nav_right {
    display: flex;
    align-items: center;
    gap: 1vw;
    @media (max-width: 450px) {
      gap: 2.22vw;
    }
    div {
      position: relative;
      height: 4vw;
      width: 4vw;
      cursor: pointer;
      @media screen and (max-width: 450px) {
        width: 8.89vw;
        height: 8.89vw;
      }
    }

    button {
      // text-transform: uppercase;
      font-weight: 800;
      padding: 0.8vw 1.4vw;
      font-size: 1.1vw;
      line-height: 1.4vw;
      letter-spacing: 0.005em;
      @media screen and (max-width: 450px) {
        font-size: 3.33vw;
        line-height: 120%;
        padding: 2.5vw 5.56vw;
        border-radius: 1.11vw;
      }
    }
  }
}
.show{
  position: fixed;
  background-color: #F9F9F9;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: black;
  width: 100%;
  top:-15%;
  z-index: -1;
  width: 100vw;
}
