.card_wrapper {
  background-color: #2d4739;
  box-shadow: -4px 4px 56px rgba(231, 111, 81, 0.12);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 2.77vw;
  padding: 2vw;
  flex: none;
  order: 1;
  @media screen and (max-width:450px) {
    width: 91.11vw !important;
    padding: 6.67vw 5.67vw;
    gap:0 ;
    border: none !important;
  }
  .heading_wrapper{
    display: flex;
    flex-direction: column;
    gap: 2.77vw;
    align-items: center;
    @media screen and (max-width:450px) {
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
      gap:0;
    }
    .card_header {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (max-width:450px) {
        text-align: left;
        align-items: flex-start;
      }
    
      h4 {
        flex: none;
        order: 0;
        flex-grow: 0;
        font-weight: 700;
        line-height: 1.94vw;
        letter-spacing: -0.3px;
        font-size: 2.22vw;
        @media screen and (max-width:450px) {
          font-size: 6.11vw;
          line-height: 6.67vw;
        }
      }
      p {
        flex: none;
        order: 1;
        flex-grow: 0;
        font-size: 1vw;
        line-height: 1.38vw;
        padding-top: 0.5vw;
        white-space: pre-line;
        width: 15.2vw;
        @media screen and (max-width:450px) {
          font-size: 3.34vw;
          line-height: 4.72vw;
          padding-top: 2.94vw;
          width: 44vw;
        }
      }
    }
    .header_white {
      h4 {
        color: #3d3d3d;
      }
  
      p {
        color: #484848;
      }
    }
  
    .price_white {
      h2 {
        color: #e5871c;
      }
      span {
        color: #242424;
        @media screen and (max-width: 450px) {
          color: #e5871c;
        }
      }
    }
    .price_container{
      border-width: 1.5px 0px;
      border-style: solid;
      border-color: rgba(0,0,0,0.05);
      width: 23vw;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 450px) {
        border: none;
      }
      .card_price {
     
        padding: 0.5vw;
        .top_span{
          margin-left: 0;
          font-size: 1vw;
          @media (max-width: 450px){
            font-size: 3vw;
          }
        }
    
        h2 {
          font-size: 3.88vw;
          font-weight: 700;
          line-height: 3.16vw;
          @media screen and (max-width:450px) {
            font-size: 7.23vw;
            line-height: 6vw;
          }
        }
        span {
          line-height: 1.38vw;
          font-size: 1.25vw;
          margin-left: -1vw;
          font-weight: 400;
          @media screen and (max-width:450px) {
            font-size: 3.83vw;
          }
        }
      }
    }

  }


  .points_white {
    color: #3d3d3d;
  }
  .card_key_points {
    // align-self: start;
    // align-self: center;
    justify-content: left;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 1.66vw;
    @media screen and (max-width: 450px) {
      padding: 8vw 0;
      gap: 5.56vw;
    }
    .point {
      display: flex;
      align-items: center;
      gap: 7.94px;
      
      span {
        position: relative;
        height: 1.66vw;
        width: 1.66vw;
        @media screen and (max-width: 450px) {
          height: 4.72vw;
          width: 4.72vw;
        }
      }
      p {
        font-weight: 500;
        line-height: 1.8vw;
        letter-spacing: -0.2px;
        font-size: 1.25vw;
        @media screen and (max-width: 450px) {
          font-size: 4.45vw;
          line-height: 6.11vw;
        }
      }
    }
  }

  .card_footer {
    align-self: center;
    width: 100%;

    a {
      font-weight: 700;
      font-size: 1.38vw;
      line-height: 1.66vw;
      padding: 1vw;
      cursor: pointer;
      border: none;
      border-radius: 0.55vw;
      background-color: #ff961f;
      color: white;
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100%;
      margin-bottom: 0.78vw;
      @media screen and (max-width: 450px) {
        border-radius: 2.22vw;
        padding: 3.33vw 5.56vw;
        margin:0;
        // width: 82.2vw;
        font-size: 3.89vw;
        line-height: 5vw;
      }
    }
      .white_bg{
        background-color: #ffffff;
        color: #686868;
        border: 1px solid #686868;
      }
      .colored_bg{
        &:hover{
          background-color: #ffffff;
          color: #e5871c;
          transition: all 0.5s ease-out;
        }

      }
  }
}
