.profile_item {
  display: inline-block;
  // margin-left: 8vw ;
  @media (max-width: 450px) {
    // margin: 0;
  }
  .image {
    width: 16.28vw;
    height: 20.38vw;
    position: relative;
    border-radius: 0.7vw;
    overflow: hidden;
    @media screen and (max-width: 450px) {
      width: 43.33vw !important;
      height: 51.11vw;
      border-radius: 1.11vw;
    }
  }

  .content {
    margin-bottom: 1.25vw;
    .name {
        margin: 1.11vw 0px 0.27vw 0px;
      font-weight: 700;
      font-size: 1.67vw;
      line-height: 2.01vw;
      display: flex;
      align-items: center;
      color: #292929;
      
      @media screen and (max-width: 450px) {
        font-size: 4.44vw;
        margin-top: 3.3vw;
        line-height: 6vw;
      }
    }

    .designation {
      font-weight: 400;
      font-size: 1.25vw;
      line-height: 150%;
      display: flex;
      align-items: center;
      color: #5b5b5b;
      @media screen and (max-width: 450px) {
        font-size: 3.33vw;
        line-height: 150%;
        margin-bottom: 4vw;
      }
    }
  }

  .social {
    display: flex;
    gap: 1.38vw;
    @media screen and (max-width: 450px) {
      gap: 5.56vw;
    }
    a {
      display: flex;
    //   flex-direction: row;
      justify-content: center;
      align-items: center;
      // padding: 4px;
      gap: 0.7vw;
      width: 2.22vw;
      height: 2.22vw;

      border: 0.07vw solid #cfcfcf;
      border-radius: 3.33vw;
      @media screen and (max-width: 450px) {
        width: 6.6vw;
        height: 6.6vw;
        border-radius: 50%;
      }

      .social_icon {
        position: relative;
        width: 1.25vw;
        height: 1.25vw;
        @media screen and (max-width: 450px) {
          width: 4.5vw;
          height: 3.8vw;
        }
      }
    }
  }
}
