.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 37.75vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  overflow-y: scroll;
  opacity: 0.95;
  z-index: 999;
 -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  @media screen and (max-width: 450px) {
    width: 100%;
  }
  &::-webkit-scrollbar{
    display: none;
  }
  .header{
    position: relative;
    height: 6.66vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2.08vw;
    @media screen and (max-width: 450px) {
      margin-top: 5vw;
      margin-right: 6.67vw;
    }
      .cancel_button {
        position: relative;
        width: 2.77vw;
        aspect-ratio: 1;
        cursor: pointer;
        @media screen and (max-width: 450px) {
          width: 6.67vw;
        }
      }

  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    padding-top: 1.80vw;
    gap: 2.22vw;
    list-style: none;
    @media screen and (max-width: 450px) {
      gap:0;
    }

    li {
      font-family: "Figtree";
      font-style: normal;
      font-weight: 700;
      font-size: 1.66vw;
      line-height: 120%;
      color: #ffffff;
      width: 100%;
      padding-left: 4.37vw;
      height: 4.02vw;
      border-bottom: 0.07vw solid #363636;
      @media screen and (max-width: 450px) {
        font-size: 4.44vw;
        letter-spacing: -0.02em;
        height:18.6vw;
        padding-left: 4.72vw;
        padding-top: 6.67vw;
      }
    }
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}