.social_container {
  width: 2.91vw;
  height: 2.91vw;
  border: 1.3125px solid #cdcaca;
  border-radius: 4.375vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    position: relative;
    width: 2.1875vw;
    height: 2.1875vw;
  }
}
