.carousel_container {
  display: flex;
  padding-top: 4vw;
  justify-content: space-around;
  align-items: center;
  gap: 0.98vw;
  height: 28.9vw;
  [class*="track"] {
    align-items: center;
  }
}
.react-multi-carousel-track {
  display: flex;
  align-items: center;
  background-color: #2d4739 !important;
}
.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 0.83vw;
  // width: 23.63vw !important;
}

.item {
  position: relative;
  padding: 4.96vw 1.48vw 1.98vw;
  background: #2d4739;
  color: #ededed;
  border-radius: 1.09vw;
  transition: transform 0.5s ease;

  &:hover{
    transform: scale(1.1);
    background-color: #f9f9f9;
    color: #615E5E;
    border: 0.16vw solid #ABC0B5;
    // padding: 5vw 1.66vw 2.22vw 1.66vw;
     font-size: 1.38vw;
    line-height: 1.80vw;

    .line{
      border: 0.1vw solid #5C5B5B;
      background-color: #5C5B5B;
    }
     
  }

  .image {
    position: absolute;
    width: 6.94vw;
    aspect-ratio: 1/1;
    left: 34%;
    right: 74.55%;
    top: -15%;
    bottom: 68.14%;
    border-radius: 50%;
    overflow: hidden;
  }

  .stars {
    margin-right: 0.28vw;
    margin-bottom: 0.28vw;
  }

  .content {
    font-size: 1.11vw;
    line-height: 132%;
  }

  .line {
    border-top: 0.08vw solid #f2eee3;
  }
  .name {
    margin-top: 2.22vw;
    font-size: 0.97vw;
    line-height: 1.45vw;
  }
}
