.carousel_container {
  display: flex;
  padding-top: 4vw;
  justify-content: space-around;
  align-items: center;
  gap: 0.98vw;
  height: 28.9vw;
  [class*="track"] {
    align-items: center;
  }
  @media screen and (max-width:450px) {
    padding-top: 14.11vw;
    height: 82vw;
    justify-content: flex-start;
  }
}
.react-multi-carousel-track {
  display: flex;
  align-items: center;
  background-color: #2d4739 !important;
}
.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 0.83vw;
  @media screen and (max-width: 450px) {
    width: 81.9vw !important;
    height: 61.67vw !important;
    margin: 0 2vw;
  }
}

.item {
  position: relative;
  padding: 4.96vw 1.48vw 1.98vw;
  background: #2d4739;
  color: #ededed;
  border-radius: 1.09vw;
  transition: transform 0.5s ease;
  @media screen and (max-width: 450px) {
    border-radius: 2.56vw;
  }

  &:hover{
    transform: scale(1.1);
    background-color: #f9f9f9;
    color: #615E5E;
    border: 0.16vw solid #ABC0B5;
    // padding: 5vw 1.66vw 2.22vw 1.66vw;
    font-size: 1.38vw;
    line-height: 1.80vw;
    @media screen and (max-width: 450px) {
      transform:none ;
      font-size: inherit;
      line-height: inherit;
    }

    .line{
      border-top: 0.1vw solid #5C5B5B;
      background-color: #5C5B5B;
    }
     
  }

  .image {
    position: absolute;
    width: 6.94vw;
    aspect-ratio: 1/1;
    left: 34%;
    right: 74.55%;
    top: -15%;
    bottom: 68.14%;
    border-radius: 50%;
    overflow: hidden;
    @media screen and (max-width: 450px) {
      width: 21.94vw;
      height: 21.94vw;
    }
  }

  .stars {
    display: inline-flex;
    margin-right: 0.28vw;
    margin-bottom: 0.28vw;
    width: 1.11vw;
    height: 1.11vw;
    position: relative;
    @media screen and (max-width: 450px) {
      width: 3.6vw;
      height: 3.6vw;
      margin-top: 6.67vw;
    }
  }

  .content {
    font-size: 1.11vw;
    line-height: 132%;
    @media screen and (max-width: 450px) {
      font-size: 3.89vw;
      line-height: 5vw;
    }
  }

  .line {
    border-top: 0.08vw solid #f2eee3;
  }
  .name {
    margin-top: 2.22vw;
    font-size: 0.97vw;
    line-height: 1.45vw;
    @media screen and (max-width: 450px) {
      margin-bottom: 6.67vw;
      font-size: 3.33vw;
      line-height: 5vw;
    }
  }
}
