.carousel_container {
  // display: flex;
  // justify-content: center;
  // align-items: flex-start;
  // gap: 0.98vw;
  height: 32vw;
  @media screen and (max-width:450px) {
    padding-top: 14.11vw;
    height: 90vw;
  }
}

.item {
  position: relative;
  padding: 4.96vw 1.48vw 1.98vw;
  background: #2d4739;
  color: #ededed;
  border-radius: 1.09vw;
  transition: transform 0.5s ease;
  width: 23.4vw !important;
  margin: 6vw 0;
  // margin-left: 2vw;
  @media screen and (max-width: 450px) {
    width: 82vw !important;
    border-radius: 2.56vw;
    padding: 4.96vw 4.44vw 0 4.44vw;
    margin: 15vw 0;
    // margin-left: 8.3vw;
  }

  &:hover{
    transform: scale(1.1);
    background-color: #f9f9f9;
    color: #615E5E;
    border: 0.16vw solid #ABC0B5;
    // padding: 5vw 1.66vw 2.22vw 1.66vw;
    // font-size: 1.38vw;
    // line-height: 1.80vw;
    @media screen and (max-width: 450px) {
      transform: scale(1.1);
      font-size: inherit;
      line-height: inherit;
      border: 0.5px solid #ABC0B5;
    }

    .line{
      border-top: 0.1vw solid #5C5B5B;
      background-color: #5C5B5B;
    }
     
  }

  .image {
    position: absolute;
    width: 6.94vw;
    aspect-ratio: 1/1;
    left: 34%;
    right: 74.55%;
    top: -15%;
    bottom: 68.14%;
    border-radius: 50%;
    overflow: hidden;
    @media screen and (max-width: 450px) {
      width: 21.94vw;
      height: 21.94vw;
      left: 36%;
    }
  }

  .stars {
    display: inline-flex;
    margin-right: 0.28vw;
    margin-bottom: 0.28vw;
    width: 1.11vw;
    height: 1.11vw;
    position: relative;
    @media screen and (max-width: 450px) {
      width: 3.6vw;
      height: 3.6vw;
      margin-top: 6.67vw;
      margin-bottom: 2vw;
    }
  }

  .content {
    font-size: 1.11vw;
    line-height: 132%;
    margin-bottom: 1vw;
    @media screen and (max-width: 450px) {
      font-size: 3.89vw;
      line-height: 5vw;
      margin-bottom: 3.33vw;
    }
  }

  .line {
    border-top: 0.08vw solid #f2eee3;
  }
  .name {
    margin-top: 2.22vw;
    font-size: 0.97vw;
    line-height: 1.45vw;
    @media screen and (max-width: 450px) {
      margin-bottom: 6.67vw;
      font-size: 3.33vw;
      line-height: 5vw;
    }
  }
}
