.video_reverse {
  flex-direction: row-reverse;

  @media (max-width: 450px) {
    flex-direction: column;
  }
}
.video_wrapper {
  display: flex;
  justify-content: center;
  gap: 8vw;
  padding: 2vw;
  @media screen and (max-width: 450px) {
    flex-direction: column;
    align-items: flex-start;
  }

  

  .video_text {
    width: 37.29vw;
    height: auto;
    @media screen and (max-width: 450px) {
      width: 100%;
      padding: 4.44vw 3.33vw 0 3.33vw;
    }

    .image{
      position: relative;
      width: 2.84vw;
      height: 2.3vw;

      @media (max-width: 450px) {
          width: 6.67vw;
          height: 5.28vw;
      }
    }

    .quote {
      color: #4a4a4a;
      font-size: 2.4vw;
      line-height: 3.33vw;
      padding-top: 2.22vw;
      font-weight: 400;
      @media screen and (max-width: 450px) {
        // width: 89.44vw;
        width: 100%;
        font-size: 4.44vw;
        line-height: 5.34vw;
        letter-spacing: -0.278vw;
        padding-top: 4.44vw;

      }
    }
    .name{
      @media screen and (max-width: 450px){
        padding-top: 6.67vw;
        padding-bottom: 2vw;
      }
    }
    p {
      color: #e76f51;
      padding-top: 2.77vw;
      font-size: 1.38vw;
      font-family: var(tertiary_font);
      font-weight: 700;
      line-height: 1.75vw;
      @media screen and (max-width: 450px) {
        font-size: 4.44vw;
      }
    }
  }

  .video_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 25.76vw;
    width: 38.93vw;
    aspect-ratio: 3/2;
    border-radius: 1.52vw;
    overflow: hidden;
    @media screen and (max-width: 450px) {
      border-radius: 3vw;
      width: 100%;
      aspect-ratio: 41/23;
      height: 60vw;
    }

    .video {
      border-radius: 1.52vw;
      overflow: hidden;
    // aspect-ratio: 3/2;
      width: 100%;
      @media screen and (max-width: 450px) {
        // height: 63vw;
        object-fit: cover;
        height: 60vw;
      }
      // height: 100%;
    }
    .pause_button{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 5.55vw;
      height: 5.55vw;

      @media (max-width: 450px) {
        width: 11.67vw;
        height: 11.67vw;
      }
    }
  }
}
