.video_reverse {
  flex-direction: row-reverse;
}
.video_wrapper {
  display: flex;
  justify-content: center;
  gap: 8vw;
  padding: 2vw;
  @media screen and (max-width: 450px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  

  .video_text {
    width: 37.29vw;
    height: auto;
    @media screen and (max-width: 450px) {
      .image{
        width: 6.67vw;
      }
    }

    .quote {
      color: #4a4a4a;
      font-size: 2.77vw;
      line-height: 3.33vw;
      padding-top: 2.22vw;
      font-weight: 400;
      @media screen and (max-width: 450px) {
        width: 89.44vw;
        font-size: 4.44vw;
        line-height: 5.34vw;
      }
    }
    .name{
      @media screen and (max-width: 450px){
        padding-top: 6.67vw;
        padding-bottom: 2vw;
      }
    }
    p {
      color: #e76f51;
      padding-top: 2.77vw;
      font-size: 1.38vw;
      font-family: var(tertiary_font);
      font-weight: 700;
      line-height: 1.75vw;
      @media screen and (max-width: 450px) {
        font-size: 4.44vw;
        padding-top: 3.33vw;
      }
    }
  }

  .video_container {
    position: relative;
    // height: 25.76vw;
    width: 38.93vw;
    aspect-ratio: 3.2;
    border-radius: 1.52vw;
    overflow: hidden;
    @media screen and (max-width: 450px) {
      border-radius: 3vw;
      width: 91.11vw;
      height: 65vw;
    }

    .video {
      border-radius: 1.52vw;
      overflow: hidden;
    // aspect-ratio: 3/2;
      width: 100%;
      @media screen and (max-width: 450px) {
        height: 63vw;
        object-fit: cover;
      }
      // height: 100%;
    }
  }
}
