.about_form {
  margin: 7vw 0px 7vw 0px;
  display: flex;
  gap: 3.88vw;

  justify-content: center;

  .image {
    width: 42.33vw;
    height: 44.55vw;
    position: relative;
    border-radius: 1.11vw;
  }

  .form_container {
    width: 42vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.34vw 0.34vw 0.34vw 3.88vw;
    gap: 2.22vw;

    h2 {
      text-align: center;
      font-family: var(--secondary_font);
      font-style: normal;
      font-weight: 600;
      font-size: 2.22vw;
      line-height: 2.77vw;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: -0.07vw;

      color: #242424;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1.11vw;

      .two_input {
        display: flex;
        gap: 1.11vw;

        .dropdown {
          font-family: var(--secondary_font);
          font-style: normal;
          font-weight: 500;
          font-size: 1.11vw;
          line-height: 1.66vw;
          letter-spacing: -0.005em;
          position: relative;

          color: #979797;

          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 0.83vw 1.11vw;
          gap: 0.83vw;

          width: 11.7vw;

          border: 0.1vw solid #e4e4e7;
          border-radius: 0.27vw;
        }
      }

      input[type="checkbox"] {
        accent-color: #1c1b1f;
        width: 1.25vw;
        aspect-ratio: 1/1;
        margin-right: 0.76vw;
      }
      .checbox_container {
        display: flex;
        margin-bottom: 3.47vw;
        align-items: center;
        font-family: var(--secondary_font);
        font-style: normal;
        font-weight: 400;
        font-size: 0.97vw;
        line-height: 1.39vw;
        letter-spacing: -0.005em;

        color: #000000;
      }
    }
  }
}
