.founder {
  @media screen and (max-width: 450px) {
    // padding-left:4.44vw;
  }
  h2 {
    font-family: var(--secondary_font);
    font-style: normal;
    font-weight: 700;
    font-size: 2.77vw;
    line-height: 4.30vw;
    text-align: center;
    letter-spacing: -0.10vw;
    color: #292929;
    padding: 2.78vw 0px 3.33vw 0px;
    @media screen and (max-width: 450px) {
      padding-top: 12.8vw;
      font-size: 5.56vw;
      letter-spacing: -0.45vw;
      padding-bottom: 6.67vw ;
    }

    .colored{
        font-family: var(--secondary_font);
        color: #E76F51;
    }
  }
}
.carousel{
  padding: 0 8vw 0 8vw;
  @media (max-width: 450px) {
    padding: 0;
  }
}
