.gallery_container {
  // padding: 0 4vw;
  @media (max-width: 1024px) {
    
  }
  @media screen and (max-width: 450px) {
    padding-left: 4.44vw;
  }
  h2 {
    font-family: var(--secondary_font);
    font-style: normal;
    font-weight: 700;
    font-size: 3.33vw;
    line-height: 4.2vw;
    text-align: center;
    margin-bottom: 5.5vw;
    margin-top: 5.5vw;
    letter-spacing: -0.025em;
    color: #111111;
    @media screen and (max-width: 450px) {
      font-size: 5.56vw;
      margin-top: 13.39vw;
      margin-bottom: 5.83vw;
    }
  }
}
.gallery_carousel {
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 450px) {
    justify-content: flex-start;
  }

  [class*="track"] {
    justify-content: center;
    align-items: center;
    gap: 1.35vw;
    @media screen and (max-width: 450px) {
      justify-content: flex-start;
      gap: 4.44vw;
    }
  }

  .gallery_item {
    width: 16.58vw !important;
    height: 16.58vw !important;
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-color: #d9d9d9;
    border-radius: 0.45vw;
    overflow: hidden;
    margin-left: 1vw;
    @media (max-width: 1024px) {
      margin-left: 8vw;
    }
    @media screen and (max-width: 450px) {
      width: 43.22vw !important;
      height: 45vw !important;
      border-radius: 1.11vw;
      margin-left: 0;
    }
  }
}
