.about_us_social {
    padding: 6.25vw 0.69vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (max-width: 450px) {
      padding-top:0;
    }
  h2 {
    font-weight: 700;
    font-size: 2.78vw;
    line-height: 3.33vw;
    text-align: center;
    margin-bottom: 2.1vw;
    color: #111111;
    @media screen and (max-width: 450px) {
      font-size: 5.56vw;
      line-height: 6.67vw;
      margin-bottom: 8.6vw;
    }
  }

  .icon_container {
    display: flex;
    gap: 2.1vw;
    @media screen and (max-width: 450px) {
      align-items: center;
      justify-content: center;
      gap: 7vw;
    }
  }
}
