.vision_container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.32vw 5.55vw 6.73vw 6.10vw;
  @media screen and (max-width: 450px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4.44vw;
  }

  .left_section {
    width: 50%;
    @media screen and (max-width: 450px){
      width: 91vw;
      text-align: center;
      margin-top: 6vw;
    }
    .content_button{
      display: none;
      background: none;
      color: #FF8811;
      font-size: 4vw;
      font-weight: 400;
      @media (max-width:450px) {
        display: inline;
      }
    }
    .extracontent{
      @media (max-width: 450px) {
        display: none;
      }
    }

    .heading{
      font-weight: 700;
      font-size: 1.66vw;
      line-height: 2.01vw;
      color: #e76f51;
      @media screen and (max-width: 450px){
        font-size: 3.33vw;
        color: #FF8811 !important;
      }
    }

    h2 {
      font-weight: 700;
      font-size: 2.22vw;
      line-height: 2.64vw;
      color: #072125;
      margin: 1.11vw 0px 2.5vw 0px;
      @media screen and (max-width: 450px){
        font-size: 5.09vw;
        line-height: 6.67vw;
        margin-top: 2.22vw;
      }
    }

    p {
      font-family: var(--tertiary_font);
      font-style: normal;
      font-weight: 400;
      font-size: 1.25vw;
      line-height: 150%;
      color: #072125;
      @media screen and (max-width: 450px){
        font-size: 3.89vw;
        line-height: 150%;
        margin-top: 3.33vw;
      }
    }
    
  }

  .right_section{
    display: flex;
    justify-content: flex-end;

      .vison_image {
        width: 31.7vw;
        height: 28.80vw;
        position: relative;
        border-radius: 0.83vw;
        overflow: hidden;
        z-index: 1;
        @media screen and (max-width: 450px){
          width: 75.9vw;
          height: 70.56vw;
          border-radius: 2.22vw;
          margin: 6vw 0;
        }

        .bg_orange{
          position: absolute;
          width: 30.25vw;
          height: 18.52vw;
          background-color: #e76f51;
          bottom: 0;
          left: 0;
          z-index: -1;
          border-radius: 0.83vw;
          @media screen and (max-width: 450px){
            width: 75.9vw;
            height: 50.8vw;
            background-color: #FF8811;
            border-radius: 0;
          }
        }
      }
  }

}
