.article_container {
  padding: 0px 6.66vw 0px 6.10vw;
  @media screen and (max-width: 450px) {
    padding: 8.89vw 4.44vw 0 4.44vw;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 3.33vw;
    border-radius: 1.52vw;
    margin: 4.37vw 0px 2vw 0px;
    @media screen and (max-width: 450px) {
      margin: 0;
      gap: 6.67vw;
    }

    .heading {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 1.11vw;
      @media screen and (max-width: 450px) {
        gap: 2.22vw;
      }

      h5 {
        font-weight: 700;
        font-size: 1.25vw;
        line-height: 1.52vw;
        display: flex;
        align-items: center;
        color: #656565;
        @media screen and (max-width: 450px) {
          line-height: 4.72vw;
          font-size: 3.89vw;
        }
      }

      h1 {
        font-weight: 700;
        font-size: 3.47vw;
        line-height: 120%;
        display: flex;
        align-items: center;
        color: #101728;
        @media screen and (max-width: 450px) {
          font-size: 6.67vw;
        }
      }
    }
    p {
      font-weight: 400;
      font-size: 1.66vw;
      line-height: 150%;
      /* identical to box height, or 36px */

      display: flex;
      align-items: center;

      color: #9a9da3;
      @media screen and (max-width: 450px) {
        font-size: 5vw;
        padding-bottom: 8.89vw;
      }
    }
  }
  .article_image {
    position: relative;
    width: 100%;
    height: 39.4vw;
    border-radius: 1.4vw;
    @media screen and (max-width: 450px) {
      width: 91.11vw;
      height: 101.6vw;
      border-radius: 5.56vw;
      img{
        object-fit: cover;
        width: 91.11vw;
        height: 101.6vw;
        border-radius: 5.56vw;
      }
    }
  }

  .main {
    display: flex;
    gap: 10.23vw;
    margin-top: 9.43vw;
    position: relative;
    @media screen and (max-width: 450px) {
      flex-direction: column-reverse;
      margin-top: 8.88vw;
      gap: 12.22vw;
    }

    .social {
        position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 2.77vw;
      @media screen and (max-width: 450px) {
        position: relative;
        flex-direction: row-reverse;
        justify-content: space-between;
      }
      .right{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:2.77vw;
        @media (max-width: 450px) {
          flex-direction: row-reverse;
          gap: 5.7vw;
        }
      }
      

      span {
        font-weight: 600;
        font-size: 1.11vw;
        line-height: 1.31vw;
        display: flex;
        align-items: center;

        color: #656565;
        @media (max-width: 450px) {
          display: none;
        }
      }

      .fb {
        position: relative;
        width: 2.05vw;
        height: 2.04vw;
        @media screen and (max-width: 450px) {
          width: 6.67vw;
          height: 6.67vw;
       
        }
      }
      .twitter {
        position: relative;
        width: 2.15vw;
        height: 1.74vw;
        @media screen and (max-width: 450px) {
          width: 6.67vw;
          height: 5.4vw;
        }
      }
      .linkedin {
        position: relative;
        width: 1.85vw;
        height: 1.85vw;
        @media screen and (max-width: 450px) {
          width: 6.67vw;
          height: 6.67vw;
        }
      }
      .mail {
        position: relative;
        width: 1.96vw;
        height: 1.64vw;
        @media screen and (max-width: 450px) {
          width: 6.67vw;
          height: 5.56vw;
        }
      }
      .link {
        position: relative;
        width: 1.86vw;
        height: 1.51vw;
        @media screen and (max-width: 450px) {
          width: 6.67vw;
          height: 5.4vw;
        }
      }
      .fb_like {
        position: relative;
        width: 2.25vw;
        height: 2.25vw;
        @media screen and (max-width: 450px) {
          width: 6.67vw;
          height: 6.67vw;
        }
      }
    }

    article {
      width: 62.87vw;
      margin-left: 19vw;
      display: flex;
      flex-direction: column;
      gap: 1.41vw;
      @media screen and (max-width: 450px) {
        width: 100%;
        margin-left: 0;
      }
      p {
        font-weight: 400;
        font-size: 1.25vw;
        line-height: 150%;
        /* or 27px */

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #5b5b5b;
        @media screen and (max-width: 450px) {
          font-size: 3.89vw;

        }
      }
    }
  }
}
