.authorBox_container {
  padding: 2.5vw 0px 2.5vw 19vw;
  display: flex;
  flex-direction: column;
  gap: 2.77vw;
  background: #fafafa;

  .vector {
    width: 5.41vw;
    height: 0px;
    position: relative;
    border: 0.07vw solid #aaaaaa;
    background-color: #aaaaaa;
  }

  .author_details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1.66vw;
    gap: 1.66vw;
    border: 0.07vw solid #d0d0d0;
    width: 67.5vw;

    .author_image {
      position: relative;
      width: 7.5vw;
      height: 8.25vw;
    }

    .details_content {
      display: flex;
      flex-direction: column;
      width: 55vw;
      padding: 0px;
      gap: 1.11vw;

      h4 {
        font-weight: 700;
        font-size: 1.66vw;
        line-height: 2vw;
        display: flex;
        align-items: center;

        color: #656565;
      }

      p {
        font-weight: 400;
        font-size: 1.25vw;
        line-height: 150%;
        /* or 27px */

        display: flex;
        align-items: center;

        color: #5b5b5b;
      }
    }
  }

  .posted {
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #5b5b5b;

    span {
      font-weight: 500;
      font-size: 1.25vw;
      line-height: 150%;
      color: #3d3d3d;
    }
  }
}
