.comment_box_container {
  padding: 0px 6.66vw 0px 6.10vw;
  margin: 4.58vw 0px 5.9vw 19vw;
  @media screen and (max-width: 450px) {
    margin: 0;
    padding: 6.67vw 4.44vw 18.8vw 4.44vw;
  }

  .comment_box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 2.08vw;
    @media screen and (max-width: 450px) {
      gap:4.44vw;
    }

    .comment_profile {
      position: relative;
      width: 5.82vw;
      aspect-ratio: 1/1;
      @media screen and (max-width: 450px) {
        width: 11.11vw;
        height: 11.11vw;
      }
    }

    .comment {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0px;
      gap: 0.9vw;
      width: 45.8vw;
      @media screen and (max-width: 450px) {
        width: 75.27vw;
        gap:0;
      }
      .bottom_content{
        span{
          display: none;
        }
        @media (max-width: 450px) {
          span{
            display: block;
          }
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding-top: 4.44vw;
        }
       
      }

      .header {
        display: flex;
        justify-content: space-between;
        width: 100%;

        h4 {
          font-weight: 700;
          font-size: 1.66vw;
          line-height: 2vw;
          display: flex;
          align-items: center;
          color: #656565;
          @media screen and (max-width: 450px) {
            font-size: 5vw;
            line-height: 6.11vw;
            margin-bottom: 3.5vw;
          }
        }
        span {
          font-weight: 400;
          font-size: 0.83vw;
          line-height: 150%;
          display: flex;
          align-items: flex-end;
          color: #5b5b5b;
          @media screen and (max-width: 450px) {
            display: none;
          }
        }
      }

      p {
        font-weight: 400;
        font-size: 1.25vw;
        line-height: 150%;
        /* or 27px */

        display: flex;
        align-items: center;

        color: #5b5b5b;
        @media screen and (max-width: 450px) {
          font-size: 3.89vw;
        }
      }
      .like_icon {
        position: relative;
        width: 1.45vw;
        aspect-ratio: 1/1;
        @media screen and (max-width: 450px) {
          width: 6.67vw;
        }
      }
    }
  }
}
