.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3.33vw 3.88vw 3.88vw;
  gap: 2.22vw;

  position: relative;
  width: 45.45vw;
  //   height: 604px;

  background: #ffffff;
  box-shadow: 0px 0.28vw 1.53vw rgba(0, 0, 0, 0.25);
  border-radius: 0.55vw;

  h2 {
    font-family: var(--secondary_font);
    font-weight: 600;
    font-size: 2.22vw;
    line-height: 2.77vw;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.07vw;

    color: #242424;
  }

  form {
    width: 100%;

    .input_container {
    border: 0.07vw solid #e5e5e5;
    padding: 0.83vw 0.83vw;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1.66vw 0px;
    font-family: var(--secondary_font);
    font-style: normal;
    font-weight: 500;
    font-size: 1.11vw;
    line-height: 1.38vw;
    letter-spacing: -0.005em;

    color: #979797;

    span {
      border-right: 0.138vw solid #979797;
      margin-right: 0.42vw;
    }

    input,
    textarea {
      font-family: var(--secondary_font);
      font-style: normal;
      font-weight: 500;
      font-size: 1.11vw;
      line-height: 1.66vw;
      letter-spacing: -0.005em;

      color: #979797;

      outline: none;
      flex-grow: 1;
      border: none;
    }
  }
  }
}
