.dd_wrapper {
  position: relative;

  .dd_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.25vw 1.11vw;
    gap: 0.7vw;
    width: 32vw;
    border: 0.07vw solid #adafae;
    border-radius: 0.28vw;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 1.32vw;
    line-height: 120%;
    color: #5C605E;

    .arrow {
      width: 1.1vw;
      aspect-ratio: 1/1;
      position: relative;
    }
  }

  .dd_list {
    margin-top: 0.55vw;
    border: 0.07vw solid #adafae;
    border-radius: 0.27vw;
    position: absolute;
    width: 32vw;
    left: 0;
  }
}
