.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3.88vw;
  padding-top: 5vw;
  gap: 2.22vw;
  position: relative;
  width: 37.61vw;
  height: 29.6vw;
  background: #ffffff;
  position: relative;
  @media (max-width: 450px) {
    width: 91.11vw;
    height: max-content;
    padding-top: 10vw;
  }
  .cross_icon{
    width: 1.3vw;
    height: 1.3vw;
    position: absolute;
    top: 1.5vw;
    right: 1.5vw;
    background: transparent;
    @media (max-width: 450px){
      display: none;
    }
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.33vw;
    width: 100%;
    @media screen and (max-width: 450px) {
      span{
        font-size: 3.33vw;
        line-height: 4.44vw;
        margin-left: 1vw;
      }
      input{
        padding: 1.6vw;
        font-size: 3.33vw;
        line-height: 4.44vw;
      }
      .textarea{
        display: block;
        textarea{
          padding: 1.6vw;
          font-size: 3.33vw;
          line-height: 4.44vw;
        }
      }
      input::placeholder,textarea::placeholder{
        color: #979797;
      }
      button{
        font-size: 3.33vw;
        padding: 2.74vw 4.44vw;
        line-height: 6.67vw;
        border-radius: 1.11vw;
        background: #FF8811 !important;
      }
    }

    .inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1.11vw;
    width: 100%;
    @media (max-width: 450px) {
      gap: 4.44vw;
    }

    .two_input {
        display: flex;
        gap: 1.11vw;
        width: 100%;

    .dropdown {
      font-family: var(--secondary_font);
      font-style: normal;
      font-weight: 500;
      font-size: 1.11vw;
      line-height: 1.66vw;
      letter-spacing: -0.005em;
      position: relative;

      color: #979797;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.83vw 1.11vw;
      gap: 0.83vw;

      width: 11.7vw;

      border: 0.1vw solid #e4e4e7;
      border-radius: 0.27vw;
      @media (max-width: 450px) {
        display: none;
      }
    }
  }
  input[type="checkbox"] {
    accent-color: #1C1B1F;
    width: 1.25vw;
    aspect-ratio: 1/1;
    margin-right: 0.76vw;
    @media screen and (max-width: 450px) {
      width: 4vw;
    }
  }
  .checbox_container {
    display: flex;
    margin-top: 0.27vw;
    align-items: center;
    font-family: var(--secondary_font);
    font-style: normal;
    font-weight: 400;
    font-size: 0.97vw;
    line-height: 1.39vw;
    letter-spacing: -0.005em;
    color: #000000;
    @media screen and (max-width: 450px){
      font-size: 3vw;
      line-height: 120%;
      margin: 2.22vw 0;
    }
  }
    }
  }
}
