.thank_you_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6vw 3.88vw 6vw;
  gap: 5vw;
  background: #ffffff;
  box-shadow: 0px 0.28vw 1.53vw rgba(0, 0, 0, 0.25);
  border-radius: 0.55vw;
  @media screen and (max-width: 450px) {
    box-shadow: none;
    background: white;
    height: 100vh;
  }
  .cross_icon{
    width: 1.3vw;
    height: 1.3vw;
    position: absolute;
    top: 1.5vw;
    right: 1.5vw;
    background: transparent;
    @media (max-width: 450px){
      display: none;
    }
  }

  position: relative;
  width: 52.05vw;
  @media screen and (max-width: 450px) {
    width:100%;
  }
  //   height: 604px;

  .upper_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    .icon {
      position: relative;
      width: 7.42vw;
      height: 5.76vw;
      @media screen and (max-width: 450px) {
        width: 29.72vw;
        height: 23.05vw;
        margin-bottom: 12vw;
      }
    }
  
    .content {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 2.77vw;
      line-height: 224.18%;
      /* or 90px */
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      letter-spacing: -0.07vw;
      color: #242424;
      @media screen and (max-width: 450px) {
        font-size: 4.44vw;
        gap: 3.33vw;
      }
  
      p{
        font-size: 1.38vw;
        line-height: 3.11vw;
        @media screen and (max-width: 450px) {
          font-size: 4.44vw;
          line-height: 140%;
          width: 95%;
        }
      }
    }
  }

  

  a {
    // font-family: "Open Sans";
    // font-style: normal;
    font-weight: 600;
    font-size: 1.38vw;
    line-height: 224.18%;
    text-align: center;
    letter-spacing: -0.07vw;
    text-decoration-line: underline;
    color: #ff8811;
    @media screen and (max-width: 450px) {
      font-size: 5vw;
      margin-top: 5.56vw;
      font-weight: 500;
    }
  }
}
