.hero_wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  place-items: center;
  padding: 3.88vw 0 2.36vw 3.88vw;

  .hero_content {
    h2 {
      font-size: 3.33vw;
      line-height: 4vw;
      font-weight: 700;
      white-space: pre-line;
    }

    h4 {
      font-size: 1.66vw;
      line-height: 2.26vw;
      font-weight: 400;
      padding-top: 1.31vw;
      padding-bottom: 3.81vw;
    }

    button {
      background-color: black;
      font-size: 1.38vw;
      line-height: 1.66vw;
      text-transform: uppercase;
      padding: 1.11vw 1.38vw;
    }
  }

  .img_container {
    place-self: end;
    display: flex;
    gap: 2.63vw;
    padding: 1.38vw 0vw 1.38vw 1.38vw;
    align-items: center;

    .img1 {
      position: relative;
      height: 33.95vw;
      width: 22.63vw;
    }
    .img2 {
      position: relative;
      width: 16.94vw;
      height: 25.41vw;
    }
    .img3 {
      position: relative;
      width: 10.97vw;
      height: 25.41vw;
    }
  }
}
