.culture_card {
  background-color: #ff961f;
  width: 19.4vw;
  height: 24.23vw;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .card_text {
    padding: 1.38vw;

    h5 {
      font-size: 1.8vw;
      line-height: 2.16vw;
    }

    p {
      font-size: 1.61vw;
      line-height: 1.93vw;
      padding-top: 1.66vw;
    }

    h5,
    p {
      font-weight: 700;
      color: white;
    }
  }

  .card_img {
    position: relative;
    align-self: flex-end;
    justify-self: flex-end;
    width: 9.44vw;
    height: 9.44vw;
  }
}
