.perks_container{
.subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.5vw;
    padding: 4.44vw 0px 9.5vw 0px;
     @media (max-width: 450px) {
        padding-bottom: 4.32vw;
      }
  .heading {
    display: flex;
    flex-direction: column;
    gap: 1.66vw;

    @media (max-width: 450px) {
      gap: 3.24vw
    }

    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 2.77vw;
      line-height: 122.68%;
      text-align: center;
      letter-spacing: -0.07vw;
       @media (max-width: 450px) {
        font-size: 5.4vw;
        line-height: 122.68%;
        letter-spacing: -0.27vw;

      }
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 1.66vw;
      line-height: 2.3vw;
      text-align: center;
      letter-spacing: -0.069vw;

       @media (max-width: 450px) {
        font-size: 3.24vw;
        line-height: 4.32vw;
        letter-spacing: -0.27vw;

      }
    }
  }

  .perk_item_grid{
    display: flex;
    gap: 5.7vw;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 6vw;
      @media (max-width: 450px) {
      display: none;
    }
    .perk_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.77vw 0.67vw;
        gap: 1.34vw;
        border: 0.20vw solid #efefef;
        border-radius: 3.25vw;
        width: 13.11vw;
        height: 14.87vw;
    
        .logo{
            position: relative;
            width: 4.6vw;
            height: 4.9vw;
        }
        p {
          font-weight: 600;
          font-size: 1vw;
          line-height: 150%;
          display: flex;
          align-items: center;
          text-align: center;
          color: #000000;
        }
      }
  }

  
}
.carousel_container{
    display: none;
    padding: 4.32vw;


    @media (max-width: 450px) {
      display: flex;
    }

    .perk_item{
      position: relative;
      width: 39.42vw;
      height: 41vw;
      border: 0.81vw solid #efefef;
      border-radius: 6.48vw;
      padding: 6.48vw 2.16vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5.23vw;

      .logo{
        position: relative;
        width: 10.8vw;
        height: 10.8vw;

      }
      p{
        font-size: 3.78vw;
        line-height: 150%;
        font-weight: 600;
        color: #000000;
        text-align: center;
      }
    }
  }
}
