.vacancy_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 6.73vw 6.10vw 7.8vw;
  gap: 4.44vw;
  isolation: isolate;
  background: #fff9f2;

  @media (max-width: 450px) {
    background-color: #ffffff;
    padding: 4.32vw;
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1.11vw;

    @media (max-width: 450px) {
      gap: 4.32vw;
    }

    h2 {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 2.77vw;
      line-height: 122.68%;
      display: flex;
      align-items: center;
      letter-spacing: -0.0694vw;

      color: #000000;
      @media (max-width: 450px) {
        font-size: 5.4vw;
        line-height: 122.68%;
        letter-spacing: -0.27vw;
      }
    }
    p {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 1.66vw;
      line-height: 2.3vw;
      display: flex;
      align-items: center;
      letter-spacing: -0.0694vw;


      color: #000000;

      @media (max-width: 450px) {
        font-size: 3.78vw;
        line-height: 5.13vw;
        color: #606060;
        // letter-spacing: -0.27vw;
      }
    }
  }

  .vacancy_body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    gap: 2.77vw;
    


    .header {
      display: flex;
      //   flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px;
      flex-grow: 1;
        width: 100%;

        @media (max-width: 450px) {
          flex-wrap: wrap;
        }

      .body_heading {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 2.22vw;
        line-height: 3.05vw;

        display: flex;
        align-items: center;

        color: #000000;
        min-width: 20.42vw;
        @media (max-width: 450px) {
          font-size: 4.32vw;
          line-height: 5.94vw;
        }
      }

      .dropdown{
        width: 32vw;
         padding: 1.25vw 1.11vw;
         border: 0.07vw solid #adafae;
        border-radius: 0.28vw;
        position: relative;
        font-family: var(--main_font);
        font-style: normal;
        font-weight: 600;
        font-size: 1.32vw;
        line-height: 120%;
        color: #5C605E;

        @media (max-width: 450px) {
          order: 3;
          width: 100%;
          font-size: 3.24vw;
          line-height: 140%;
          font-weight: 600;
          padding: 2.7vw 3.24vw;
          gap: 2.7vw;
          margin-top: 7.02vw;
          border: 0.27vw solid #adafae;
          color: #b1b1b1;
          border-radius: 1.08vw;
        }
        
      }
      .location {
        display: none;
        margin-top: 4.32vw;
        margin-bottom: 4.32vw;

        @media (max-width: 450px) {
          display: flex;
        }
      }

      .viewAll {
        font-weight: 700;
        font-size: 1.25vw;
        line-height: 1.52vw;
        display: flex;
        align-items: center;
        text-align: right;

        color: #000000;

        @media (max-width: 450px) {
          font-size: 3.24vw;
          line-height: 4.32vw;
          font-weight: 500;
          letter-spacing: -0.005em;
        }
      }
    }

    .body_rows {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px;
      gap: 1.8vw;

      @media (max-width: 450px) {
        display: none;
      }

      .row_item {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 10vw;

        .name {
          padding: 1.66vw 2.22vw;
          gap: 0.7vw;

          background: #ffffff;
          border: 0.07vw solid #d8d8d8;
          border-radius: 0.55vw;

          font-family: "Open Sans";
          font-style: normal;
          font-weight: 700;
          font-size: 1.25vw;
          line-height: 1.73vw;

          width: 21.7vw;

          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          // max-height: 5.06vw;

          color: #000000;
        }

        .second_col {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px;
          gap: 2.77vw;

          .location {
            display: flex;
            justify-content: space-between;
            padding: 1.66vw;
            // gap: 25.65vw;
            width: 45.8vw;
            background: #ffffff;
            border: 0.07vw solid #d8d8d8;
            border-radius: 0.55vw;

            font-family: var(--main_font);
            font-style: normal;
            font-weight: 600;
            font-size: 1.25vw;
            line-height: 1.73vw;
            align-items: center;
            text-align: center;

            color: #000000;

            // span{
            //   width: 50%;
            // }
          }
          button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 1.11vw 1.66vw;
            gap: 0.83vw;

            width: 7.21vw;
            //   height: 56px;

            background: #000000;
            border-radius: 0.55vw;

            font-family: "Figtree";
            font-style: normal;
            font-weight: 800;
            font-size: 1.39vw;
            line-height: 1.66vw;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: -0.005em;

            color: #ffffff;
          }
        }
      }
    }
    .body_rows_mobile_only {
      display: none;

      @media (max-width: 450px) {
        display: flex;
        flex-direction: column;
        gap: 6.48vw;
        width: 100%;
      }

      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6.48vw;
        padding: 3.24vw;
        background: #f9f9f9;
        border-radius: 1.08vw;

        .left_section {
          display: flex;
          flex-direction: column;
          gap: 2.5vw;

          .heading {
            font-weight: 700;
            font-size: 4.44vw;
            line-height: 6.11vw;
          }
          .subheading {
            font-weight: 600;
            font-size: 3.89vw;
            line-height: 5.28vw;
            display: flex;
            align-items: center;
            color: #000000;
          }
        }
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0px 3.24vw;
          gap: 1.08vw;

          width: 25.65vw;
          height: 9.72vw;

          background: #18181b;
          border-radius: 2.16vw;

          font-weight: 700;
          font-size: 3.78vw;
          line-height: 6.48vw;
          /* identical to box height, or 171% */

          display: flex;
          align-items: center;
          letter-spacing: -0.02em;

          color: #ffffff;
        }
      }
    }
  }
}
