.chef_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background-color: #f1f1f1;
  place-items: center;
  @media screen and (max-width: 450px) {
    grid-template-columns: 1fr;
    padding-top: 6.67vw;
  }

  .chef_img {
    filter: drop-shadow(0px 4px 32px rgba(0, 0, 0, 0.01));
    width: 35.4vw;
    position: relative;
    height: 39.4vw;
    place-self: start;
    margin-left: 4vw;
    margin-bottom: -2vw;
    @media screen and (max-width: 450px) {
      place-self: center;
      width: 90.78vw;
      height: 107vw;
      margin: 0;
    }
  }

  .chef_content {
    color: #090909;
    font-weight: 700;
    place-self: start;
    align-self: center;
    padding-top: 2vw;
    @media screen and (max-width: 450px) {
      text-align: center;
      place-self: center;
      padding: 2vw 4vw 0 4vw;
    }

    h6,
    p {
      font-size: 1.11vw;
      font-family: var(--tertiary_font);
    }

    h6 {
      line-height: 1.4vw;
      color: #e76f51;
      @media screen and (max-width: 450px) {
        font-size: 3.33vw;
        line-height: 4.16vw;
        padding-bottom: 3.33vw;
      }
    }

    h2 {
      font-size: 3.33vw;
      line-height: 4vw;
      font-family: var(--secondary_font);
      //   font-weight: 700;
      white-space: pre-line;
      @media screen and (max-width: 450px) {
        font-size: 5.56vw;
        line-height: 120%;
        padding-bottom: 5vw;
      }
    }

    p {
      line-height: 2vw;
      padding-top: 1.38vw;
      padding-bottom: 3.125vw;
      @media screen and (max-width: 450px) {
        font-size: 3.89vw;
        line-height: 150%;
        font-weight: 400;
      }

      span {
        text-decoration-line: underline;
        // font-size: 1.11vw;
        font-family: var(--tertiary_font);
      }
    }

    button {
      font-size: 1.25vw;
      font-weight: 700;
      padding: 1vw 2vw;
      background-color: black;
      color: white;
      @media screen and (max-width: 450px) {
        font-size: 3.89vw;
        line-height: 6.67vw;
        padding: 3.05vw 10.9vw;
        border-radius: 2.22vw;
      }
    }
  }
}
