.hero_carousel {
  width: 100vw;
}

.carousel_wrapper {
  .items {
    height: 46.5vw;
    @media (max-width: 450px){
      height: 111.11vw;
    }
    .carousel_img {
      position: absolute;
      width: 100vw;
      height: 46.5vw;
      .mobile{
        display: none;
      }
      @media screen and (max-width: 450px){
        height: 111.11vw;
        .desktop{
          display: none;
        }
        .mobile{
          display: flex;
        }
        img{
          object-fit: cover;
        }
      }
    }

    .carousel_text {
      position: relative;
      margin-top: 12.6vw;
      left: 5%;
      width: 50%;
      color: white;
      margin-bottom: 9.6vw;
      @media screen and (max-width: 450px) {
        width: 87.22vw;
        margin-top: 37.5vw;
        left: 8%;
        margin-right: 4vw;
        margin-bottom: 25.5vw;
      }

      h1 {
        font-size: 3.33vw;
        line-height: 4.18vw;
        font-family: var(--secondary_font);
        font-weight: 600;
        @media screen and (max-width: 450px) {
          font-size: 7.78vw;
          line-height: 9.8vw;
          letter-spacing: -0.25px;
        }
      }

      p {
        padding-top: 1.59vw;
        padding-bottom: 2.5vw;
        font-size: 1.25vw;
        line-height: 1.94vw;
        font-weight: 500;
        width: 80%;
        @media screen and (max-width: 450px) {
          font-size: 3.89vw;
          line-height: 120%;
          width: 100%;
          padding-bottom: 0;
        }
      }

      button {
        padding: 1.25vw 3.29vw;
        font-size: 1.25vw;
        line-height: 1.66vw;
        font-weight: 700;
        font-family: var(--open_sans);
        @media screen and (max-width: 450px) {
          line-height: 140%;
          margin-top: 7.78vw;
          font-size: 3.89vw;
          padding: 3.05vw 5.56vw;
          border-radius: 2.22vw;
        }
      }
    }
  }

}


.customdots{
  position: absolute !important;
  top:42vw;
  @media (max-width: 450px) {
    top:100vw;
  }
  li{
    width:5.5vw !important;
    height: 4px !important;
    background-color: #fff !important;
    .slick-active{
      background-color: black !important;
    }
  }
}
