.metric_container{
    display: flex;
    background: #FFFFFF;
    justify-content: space-between;
    padding: 5.97vw 11.8vw;
    @media screen and (max-width: 450px) {
        padding: 4.44vw 4vw;
        padding-top: 6.67vw;
      }

    .metric_item{
        width: 24%;
        position: relative;
        @media screen and (max-width: 450px) {
            width: 29vw;
            border: 1.5px solid rgba(159, 159, 159,0.3);
            border-radius: 2.22vw;
            padding: 2vw;
          }
       

        .metric_title{
            z-index: 1;
            font-weight: 700;
            font-size: 3.89vw;
            line-height: 5.1vw;
            text-align: center;
            letter-spacing: -0.02em;
            color: #000000;
            position: relative;
            @media screen and (max-width: 450px) {
                font-size: 5.56vw;
                line-height: 120%;
                text-align: start;
              }
            
        }
    
        .metric_description{
            font-weight: 500;
            font-size: 1.25vw;
            line-height: 1.94vw;
            align-items: center;
            text-align: center;
            letter-spacing: -0.01em;
            color: #000000;
            @media screen and (max-width: 450px) {
                font-size: 3.05vw;
                line-height: 120%;
                margin-top: 1.5vw;
                text-align: start;
                color: #484848;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
              }
        }

        .image{
            width: 30%;
            // height: 60%;
            aspect-ratio: 1/1;
            position: absolute;
            top: -2%;
            right: 0.7vw;
            z-index: 0;
            @media screen and (max-width: 450px) {
                display: none;
              }
        }
    }

   
}