.video_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media screen and (max-width: 450px){
    grid-template-columns: 1fr;
    background: white;
    // ;
  }
  

  .video_text {
    place-self: center;
    @media screen and (max-width: 450px){
      place-self: start;
      padding: 3.33vw;
      img{
        width: 6.67vw;
        height: 5.56vw;
      }
    }

    h2 {
      color: #4a4a4a;
      white-space: pre-line;
      font-size: 3.33vw;
      line-height: 4vw;
      padding-top: 2.22vw;
      font-weight: 400;
      @media screen and (max-width: 450px) {
        font-size: 4.44vw;
        line-height: 5.56vw;
        width: 100%;
        padding-top: 4.44vw;
      }
    }
    p {
      color: #e76f51;
      padding-top: 2.77vw;
      font-size: 1.38vw;
      font-family: var(tertiary_font);
      font-weight: 700;
      @media screen and (max-width: 450px) {
        font-size: 4.44vw;
        line-height: 5.56vw;
        padding: 3.33vw 0;
      }
    }
  }

  .video_container{
    position: relative;
    width: 53.64vw;
    height: 32.48vw;

    .video{
      width: 100%;
    }
    @media screen and (max-width: 450px) {
      place-self: center;
      height: 51.4vw;
      width: 100%;
      img{
        height: 51.4vw;
        width: 100%;
        object-fit: cover;
      }
    }

    .pause_button{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 5.55vw;
      height: 5.55vw;

      @media (max-width: 450px) {
        width: 11.67vw;
        height: 11.67vw;
      }
    }
  }
}
