.hero_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // background-color: #e5e5e5;
  // place-items: center;
  padding: 4vw 0vw 4vw 6.66vw;
  @media screen and (max-width: 450px) {
    grid-template-columns: 1fr;
    padding: 10vw 5.6vw;
  }

  .hero_img {
    width: 40vw;
    position: relative;
    height: 37.29vw;
    @media screen and (max-width: 450px) {
      width: 88.33vw;
      height: 81.94vw;
    }

    .img {
      border-radius: 16px;
    }
  }

  .hero_content {
    font-weight: 700;
    place-self: center;
    @media screen and (max-width: 450px) {
      place-self: start;
    }

    .label {
      font-size: 0.97vw;
      line-height: 1.38vw;
      background-color: #3a8459;
      color: white;
      width: 3.33vw;
      display: flex;
      justify-content: center;
      padding: 0.27vw 0.7vw;
      border-radius: 1.875vw;
      @media screen and (max-width: 450px) {
        font-size: 3.33vw;
        line-height: 5.56vw;
        padding: 1.11vw 2.78vw;
        border-radius: 7.5vw;
        width: min-content;
        letter-spacing: -0.015em;
      }
    }

    .h2 {
      color: #292929;
      white-space: pre-line;
      font-size: 3.33vw;
      line-height: 4vw;
      letter-spacing: -1%;
      padding-top: 1.94vw;
      position: relative;
      display: block;
      @media screen and (max-width: 450px) {
        font-size: 6.67vw;
        line-height: 8.33vw;
        letter-spacing: -0.015em;
        padding-top: 4.44vw;
      }


      .slider{
        position: absolute;
        top: 5.9vw;
        left: 8.3vw;
        letter-spacing: -0.01em;
        font-size: inherit;
        display: flex;
        height: 4vw;
        overflow: hidden;
        transition: margin-top 0.5s, width 0.5s ease-in-out;
        @media screen and (max-width: 450px) {
          left: 16vw;
          top: 12.6vw;
          font-size: 6.67vw;
          height: 8vw;
        }
      }
    }

    h4 {
      font-weight: 400;
      font-size: 1.66vw;
      line-height: 2.22vw;
      white-space: pre-line;
      padding: 1.66vw 0;
      width: 36.7vw;
      @media screen and (max-width: 450px) {
        font-size: 4.44vw;
        line-height: 120%;
        letter-spacing: -0.01em;
        width: 90.5vw;
        padding: 6.67vw 0;
      }

      .colored {
        color: #e76f51;
      }
    }

    button {
      font-size: 1.11vw;
      line-height: 1.33vw;
      font-weight: 800;
      padding: 0.83vw 1.38vw;
      background-color: black;
      color: white;
      @media screen and (max-width: 450px) {
        font-size: 3.89vw;
        line-height: 4.6vw;
        padding: 3.33vw 5.56vw;
        border-radius: 2.22vw;
        margin-bottom: 8.33vw;
      }
    }
  }
}
