.blog_card {
  box-shadow: 0.899225px 6.29457px 21.5814px rgba(0, 0, 0, 0.21);
  width: 28.5vw;
  border-radius: 10.7907px;
  position: relative;
  min-height: 27.76vw;
  @media (max-width: 450px) {
    width: 100%;
    border-radius: 2.22vw;
    min-height: 85.5vw;
    box-shadow: 0.520719px 3.64503px 12.4973px rgba(0, 0, 0, 0.21);
    margin: 4vw ;


  }

  .blog_img {
    position: relative;
    width: 28.5vw;
    height: 14.72vw;
    @media (max-width: 450px) {
      // width:91.11vw;
      width: 100%;
      height: 47.22vw;
    }

    .img {
      border-radius: 10.7907px 10.7907px 0 0;
      object-fit: cover;
      @media (max-width: 450px) {
        border-radius: 2.22vw 2.22vw 0 0;
      }
    }
  }

  .content {
    padding: 1.66vw 1.8vw 6.03vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: 450px) {
      padding: 4.44vw;
    }

    .subheading {
      color: #656565;
      font-size: 0.97vw;
      line-height: 1.45vw;
      font-weight: 500;
      align-self: stretch;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;

      @media (max-width: 450px) {
        font-size: 3.33vw;
        line-height: 150%;
        font-weight: 600;

      }
    }

    .heading {
      font-family: var(--secondary_font);
      color: #101728;
      font-size: 1.66vw;
      line-height: 2.08vw;
      font-weight: 700;
      align-self: stretch;
      flex-grow: 1;
      // padding-bottom: 2.77vw;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;

      @media (max-width: 450px) {
        font-size: 4.44vw;
        line-height: 5vw;
        font-weight: 700;
        
      }
    }
  }

  .date {
    position: absolute;
    bottom: 1.66vw;
    left: 1.8vw;
    color: #9a9da3;
    font-size: 0.97vw;
    line-height: 1.45vw;
    font-weight: 400;
    padding-top: 2.77vw;
    justify-self: end;

    @media (max-width: 450px) {
      font-size: 3.33vw;
      line-height: 150%;
      font-weight: 400;
      left: 3.33vw;
      bottom: 3.33vw;
      
    }
  }
}

// .carousel{
//   .blog_card{

//     @media (max-width: 450px) {
//       width: 66.16vw !important;
      
//     }
//   }
// }
