.blog_card {
  box-shadow: 0.899225px 6.29457px 21.5814px rgba(0, 0, 0, 0.21);
  width: 28.5vw;
  border-radius: 10.7907px;
  position: relative;
  @media (max-width: 450px) {
    width: 91.11vw;
    border-radius: 2.22vw;
    min-height: 85.5vw;
  }

  .blog_img {
    position: relative;
    width: 28.5vw;
    height: 14.72vw;
    @media (max-width: 450px) {
      width:91.11vw;
      height: 47.22vw;
    }

    .img {
      border-radius: 10.7907px 10.7907px 0 0;
      @media (max-width: 450px) {
        border-radius: 2.22vw 2.22vw 0 0;
      }
    }
  }

  .content {
    padding: 1.66vw 1.8vw 6.03vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: 450px) {
      padding: 4.44vw;
    }

    .subheading {
      color: #656565;
      font-size: 0.97vw;
      line-height: 1.45vw;
      font-weight: 500;
      align-self: stretch;
      @media (max-width: 450px) {
        font-size: 3.33vw;
        line-height: 150%;
      }
    }

    .heading {
      font-family: var(--secondary_font);
      color: #101728;
      font-size: 1.66vw;
      line-height: 2.08vw;
      font-weight: 700;
      align-self: stretch;
      flex-grow: 1;
      // padding-bottom: 2.77vw;
      @media (max-width: 450px) {
        font-size: 4.44vw;
        line-height: 5.56vw;
        margin-bottom: 12.67vw;
        margin-top: 1vw;
      }
    }
  }

  .date {
    position: absolute;
    bottom: 1.66vw;
    left: 1.8vw;
    color: #9a9da3;
    font-size: 0.97vw;
    line-height: 1.45vw;
    font-weight: 400;
    padding-top: 2.77vw;
    justify-self: end;
    @media (max-width: 450px) {
      font-size: 3.33vw;
      line-height: 150%;
      left: 4.44vw;
      bottom: 4.44vw;
    }
  }
}
