.recomended_wrapper {
  background-color: var(--bg-orange);
  padding: 3vw 0vw;
  @media screen and (max-width: 450px) {
    padding: 10vw 0vw;
  }

  h4 {
    font-family: var(--inter_font);
    font-weight: 700;
    font-size: 1.94vw;
    line-height: 2.33vw;
    letter-spacing: -2.5%;
    padding-bottom: 2.22vw;
    padding-left: 5vw;
    @media screen and (max-width: 450px) {
      font-size: 6.67vw;
      line-height: 8.33vw;
      text-align: center;
      padding-left: 0;
      padding-bottom: 6.67vw;
    }
  }

  .carousel_container{
    padding-left: 5vw;

    @media (max-width: 450px) {
      padding-left: 4.44vw;
    }
  }
}
