.recomended_wrapper {
  background-color: var(--bg-orange);
  padding: 3vw 0vw;

  h4 {
    font-family: var(--inter_font);
    font-weight: 700;
    font-size: 1.94vw;
    line-height: 2.33vw;
    letter-spacing: -2.5%;
    padding-bottom: 2.22vw;
    padding-left: 5vw;
  }
}
