@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans,wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans,wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap");
:root {
  --main_font: "Open Sans", "normal";;
  --secondary_font: "Open Sans", "normal";
  --tertiary_font: "Open Sans", "normal";
  --inter_font: "Open Sans", "normal";
  --open_sans: "Open Sans", "normal";
  --bg1: #000000;
  --bg2: #e5e5e5;
  --bg-orange: #fff3e8;
  --orange: #e5871c;
  --content-color-dark: #242424;
  /* --mobile_font: "Open Sans","normal"; */
  --mobile_livvic: "Open Sans", "normal";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--main_font);
}

body {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;

}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 0.55vw;
  background-color: #ff961f;
  color: white;
}

.hidden{
  display: none;
}
